Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

feat: Add admin email preview and testing panel for workshops (E3)
  audacious_money_backend/src/routes/workshops.ts
  src/components/admin/workshops/EmailPreviewPanel.module.css
  src/components/admin/workshops/EmailPreviewPanel.tsx
Due: Components

feat: Implement Workshop Trial Management and Upgrade Flow (Phase 6, Sprint 6: F1-F3)
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/services/email/workshopEmails.ts
  audacious_money_backend/src/services/workshops/conversionTracker.ts
  audacious_money_backend/src/services/workshops/trialManager.ts
  src/pages/workshops/TrialExpiredPage.module.css
  src/pages/workshops/TrialExpiredPage.tsx
  src/pages/workshops/UpgradePage.module.css
  src/pages/workshops/UpgradePage.tsx
Due: none

fix: Use Dexie table hooks instead of non-existent on() method
  src/services/backup/SmartAutoBackupService.ts
Due: Services

feat: Implement Workshop System Security Hardening and Testing Foundation (Sprint 7 G1-G3)
  Roadmaps/SPRINT_7_G1_G2_G3_SUMMARY.md
  Roadmaps/WORKSHOP_SECURITY_AUDIT.md
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/services/workshops/trialManager.test.ts
  audacious_money_backend/src/utils/validation-workshops.ts
Due: none

feat: Add Sprint 8 Phase 8 deployment documentation and health check endpoint
  Roadmaps/WORKSHOP_DATABASE_MIGRATION_PLAN.md
  Roadmaps/WORKSHOP_DEPLOYMENT_CHECKLIST.md
  Roadmaps/WORKSHOP_FEATURE_ROLLOUT_PLAN.md
  Roadmaps/WORKSHOP_MONITORING_GUIDE.md
  audacious_money_backend/src/routes/workshops.ts
Due: none

debug: Add console logging to invoice filtering in CPUTracker
  src/pages/cpg/tabs/RawMaterialsTab.tsx
Due: none

feat: Add workshop admin navigation and routes
  src/pages/admin/AdminDashboard.tsx
  src/routes/index.tsx
Due: none

docs: Add workshop integration refactor plan
  Roadmaps/WORKSHOP_INTEGRATION_REFACTOR.md
Due: none

fix: Fix date filter timezone bug and rename to Material Purchased
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/tabs/RawMaterialsTab.tsx
Due: Components

fix: Fetch actual subscription price from Stripe instead of static database value
  audacious_money_backend/src/routes/users.ts
Due: none

debug: Add extensive logging to payment method and invoice endpoints
  audacious_money_backend/src/routes/users.ts
  audacious_money_backend/update-cpg-price-to-20.sql
Due: none

fix: Add script to populate missing stripe_customer_id for users
  audacious_money_backend/fix-missing-stripe-customer-id.mjs
Due: none

feat: Integrate workshop system with existing Stripe/Postmark infrastructure
  Roadmaps/complete/WORKSHOP_REFACTOR_COMPLETE.md
  audacious_money_backend/src/db/migrations/015_educational_workshops_simplified.sql
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/services/email.service.ts
  audacious_money_backend/src/services/email/workshopEmailRenderer.ts
  audacious_money_backend/src/services/email/workshopEmailScheduler.ts
  audacious_money_backend/src/services/email/workshopEmails.ts
  audacious_money_backend/src/services/stripe.service.ts
  audacious_money_backend/src/services/workshops/conversionTracker.ts
  audacious_money_backend/src/services/workshops/trialManager.test.ts
  audacious_money_backend/src/services/workshops/trialManager.ts
Due: none

fix: Properly set stripe_customer_id in users table on subscription creation
  audacious_money_backend/fix-missing-stripe-customer-id.mjs
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/services/email.service.ts
Due: none

fix: Correct email.service.ts syntax - only workshop emails get sendAt parameter
  audacious_money_backend/src/services/email.service.ts
Due: none

feat: Add admin endpoint to run stripe_customer_id backfill migration
  audacious_money_backend/src/routes/admin.ts
Due: none

docs: Add simple guide for running billing fix migration
  audacious_money_backend/HOW_TO_RUN_MIGRATION.md
Due: none

feat: Add workshop creation and edit form page
  src/pages/admin/WorkshopFormPage.module.css
  src/pages/admin/WorkshopFormPage.tsx
  src/routes/index.tsx
Due: none

feat: Auto-detect user timezone from billing address
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/utils/timezone.ts
Due: none

fix: Resolve duplicate migration number and add deployment process
  DEPLOYMENT_PROCESS.md
  audacious_money_backend/src/db/migrations/015_educational_workshops.sql
  audacious_money_backend/src/db/migrations/016_educational_workshops_simplified.sql
Due: none

feat: Add timezone settings panel to Settings page
  src/components/settings/TimezoneSettingsPanel.module.css
  src/components/settings/TimezoneSettingsPanel.tsx
  src/pages/Settings.tsx
  src/utils/timezoneUtils.ts
Due: Components

fix: Correct import path for useAuth in TimezoneSettingsPanel
  src/components/settings/TimezoneSettingsPanel.tsx
Due: Components

fix: Align workshop validation schema with database and form
  audacious_money_backend/src/utils/validation-workshops.ts
Due: none

fix: Add comprehensive debugging and error handling to TimezoneSettingsPanel
  src/components/settings/TimezoneSettingsPanel.tsx
Due: Components

fix: Add admin Authorization header to workshop form API calls
  src/pages/admin/WorkshopFormPage.tsx
Due: none

debug: Add module-level logging to track import failures
  src/components/settings/TimezoneSettingsPanel.tsx
  src/pages/Settings.tsx
Due: Components

fix: Use correct API domain in workshop form API calls
  src/pages/admin/WorkshopFormPage.tsx
Due: none

fix: Add TimezoneSettingsPanel to CPG Settings page
  src/pages/cpg/CPGSettings.tsx
Due: none

refactor: Remove debug logging from timezone components
  src/components/settings/TimezoneSettingsPanel.tsx
  src/pages/Settings.tsx
Due: Components

fix: Improve error handling and logging in workshop form
  src/pages/admin/WorkshopFormPage.tsx
Due: none

refactor: Simplify timezone selector layout and add all global timezones
  src/components/settings/TimezoneSettingsPanel.module.css
  src/components/settings/TimezoneSettingsPanel.tsx
Due: Components

fix: Add detailed validation error logging and request body inspection
  src/pages/admin/WorkshopFormPage.tsx
Due: none

feat: Implement timezone infrastructure
  src/components/settings/TimezoneSettingsPanel.tsx
  src/hooks/useTimezone.ts
  src/utils/timezoneUtils.ts
Due: Components

fix: Correct validation errors in workshop form submission
  src/pages/admin/WorkshopFormPage.tsx
Due: none

feat: Add detailed database error logging to workshop creation
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Add migration to add missing columns to workshops table
  audacious_money_backend/src/db/migrations/017_add_missing_workshop_columns.sql
Due: none

fix: PostgreSQL SET command doesn't support parameterized queries
  audacious_money_backend/src/middleware/auth.ts
Due: none

fix: Drop unused columns from old workshop migration
  audacious_money_backend/src/db/migrations/018_fix_workshop_schema_mismatch.sql
Due: none

fix: Add trial_start_datetime properly - trial begins at workshop start
  audacious_money_backend/src/db/migrations/019_add_trial_start_datetime_back.sql
  audacious_money_backend/src/routes/workshops.ts
  src/pages/admin/WorkshopFormPage.tsx
Due: none

feat: Connect workshops list to real API
  src/pages/admin/WorkshopsPage.tsx
Due: none

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
