Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

fix: Use correct column names in fix-user-subscription endpoint
  audacious_money_backend/src/app.ts
Due: none

fix: Use 'converted' status for workshop_enrollments
  audacious_money_backend/src/app.ts
Due: none

feat: Display correct billing interval (monthly vs annual)
  audacious_money_backend/src/routes/users.ts
  src/components/billing/SubscriptionStatusCard.tsx
  src/services/billing.api.ts
Due: Services, Components

fix: Fix rate limiting to properly identify clients per endpoint
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/middleware/rateLimit.ts
Due: none

fix: Update backup setup messaging to reflect current functionality
  src/components/onboarding/BackupLocationSetup.tsx
Due: Components

feat: Add "Your data never leaves your computer" to backup setup
  src/components/onboarding/BackupLocationSetup.tsx
Due: Components

feat: Display user email at top of account dropdown menus
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/CPGLayout.tsx
  src/components/layouts/Sidebar.css
  src/components/layouts/Sidebar.tsx
Due: Components

feat: Add email change functionality with dual notifications
  audacious_money_backend/src/routes/users.ts
  audacious_money_backend/src/services/email.service.ts
  src/pages/cpg/CompanyProfile.tsx
Due: none

feat: Add teaspoon, tablespoon, pint, and milligram units for recipes
  src/utils/unitConversion.ts
Due: none

feat: Add API proxy for local development
  src/services/api.ts
  vite.config.ts
Due: Services

fix: Charity admin - fix validation and unify Add/Edit forms
  audacious_money_backend/src/routes/admin.ts
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

feat: Add preview button and default to Verified status filter
  src/components/admin/charity/CharityManagementTab.module.css
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

fix: Add route for charity-selector-test page
  src/routes/index.tsx
Due: none

fix: Use live API data for charity selector test page
  src/pages/CharitySelectorTest.tsx
Due: none

feat: Add multi-date unit conversion system with improved UX
  src/components/cpg/CategoryManager.tsx
  src/components/cpg/RecipeBuilder.tsx
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/AddProductModal.tsx
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/db/database.ts
  src/db/schema/cpg.schema.ts
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
  src/services/cpg/cpuCalculator.service.ts
  src/utils/unitConversion.ts
Due: Services, Components

fix: Bundle product cards now display correct CPU with Materials/Labor breakdown
  src/components/cpg/FinishedProductManager.module.css
  src/components/cpg/FinishedProductManager.tsx
Due: Components

feat: Improve Vendors/Customers pages with better UX and Tax ID security
  src/components/customers/CustomerForm.module.css
  src/components/customers/CustomerForm.tsx
  src/components/forms/Checkbox.module.css
  src/components/vendors/VendorCard.tsx
  src/components/vendors/VendorForm.module.css
  src/components/vendors/VendorForm.tsx
  src/pages/Customers.tsx
  src/pages/Vendors.tsx
  src/services/auth.service.ts
Due: Services, Components

feat: Add tabbed interface to Vendors page with tab pinning
  src/components/layouts/Sidebar.tsx
  src/components/vendors/VendorBills.module.css
  src/components/vendors/VendorBills.tsx
  src/components/vendors/VendorReceipts.module.css
  src/components/vendors/VendorReceipts.tsx
  src/components/vendors/index.ts
  src/db/schema/tabPreferences.schema.ts
  src/hooks/useTabPinning.ts
  src/pages/Vendors.module.css
  src/pages/Vendors.tsx
Due: Components

feat: Add Vendor Center with insights, filtering, and 1099 tracking
  src/components/vendors/VendorInsights.module.css
  src/components/vendors/VendorInsights.tsx
  src/components/vendors/VendorList.module.css
  src/components/vendors/VendorList.tsx
  src/components/vendors/index.ts
  src/db/database.ts
  src/db/schema/tabPreferences.schema.ts
  src/db/schema/transactionGroups.schema.ts
  src/pages/Vendors.tsx
  src/types/group.types.ts
Due: Components

feat: Add Customer Center with insights, contact details, and overdue tracking
  src/components/customers/CustomerInsights.module.css
  src/components/customers/CustomerInsights.tsx
  src/components/customers/index.ts
  src/components/vendors/VendorInsights.tsx
  src/db/schema/tabPreferences.schema.ts
  src/pages/Customers.module.css
  src/pages/Customers.tsx
Due: Components

feat: Restructure navigation with Money Coming In/Going Out sections
  src/components/layouts/Sidebar.css
  src/components/layouts/Sidebar.tsx
  src/db/schema/tabPreferences.schema.ts
  src/pages/Customers.module.css
  src/pages/Customers.tsx
  src/pages/Vendors.module.css
  src/pages/Vendors.tsx
Due: Components

feat: Add cash/accrual billing breakdown to Vendor Center
  src/components/vendors/VendorInsights.module.css
  src/components/vendors/VendorInsights.tsx
Due: Components

feat: Add rich text editor for workshop descriptions
  src/components/common/RichTextEditor.module.css
  src/components/common/RichTextEditor.tsx
  src/pages/admin/WorkshopFormPage.tsx
  src/pages/workshops/WorkshopSignupPage.module.css
  src/pages/workshops/WorkshopSignupPage.tsx
Due: Components

fix: Improve workshop description styling
  src/components/common/RichTextEditor.module.css
  src/pages/workshops/WorkshopSignupPage.module.css
Due: Components

Revert "fix: Improve workshop description styling"
  src/components/common/RichTextEditor.module.css
  src/pages/workshops/WorkshopSignupPage.module.css
Due: Components

feat: Add location display and fix email schedule saving
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/utils/validation-workshops.ts
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

feat: Add unsubscribe functionality to workshop emails
  audacious_money_backend/src/db/migrations/027_add_workshop_email_unsubscribe.sql
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/services/email.service.ts
  audacious_money_backend/src/services/emailScheduler.service.ts
  src/pages/workshops/WorkshopUnsubscribePage.module.css
  src/pages/workshops/WorkshopUnsubscribePage.tsx
  src/routes/index.tsx
Due: none

fix: Auto-create email_unsubscribed_at column if missing
  audacious_money_backend/src/routes/auth.ts
Due: none

feat: Remove charity selection from initial workshop signup
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

feat: Add ajax email check and existing user enrollment for workshops
  audacious_money_backend/src/routes/auth.ts
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Correct scheduleWorkshopEmails parameters and add error logging
  audacious_money_backend/src/routes/auth.ts
Due: none

fix: Use generateUserToken instead of undefined generateToken
  audacious_money_backend/src/routes/auth.ts
Due: none

fix: Use p.slug instead of p.product_key for products query
  audacious_money_backend/src/routes/auth.ts
Due: none

feat: Add weight/volume unit conversion to ComprehensiveWorksheet
  src/components/onboarding/ComprehensiveWorksheet.module.css
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/services/cpg/worksheetImporter.service.ts
Due: Services, Components

fix: Prevent infinite loop in conversion form by using uncontrolled inputs
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

feat: Improve online workshop meeting link display
  src/pages/admin/WorkshopFormPage.tsx
  src/pages/workshops/WorkshopCountdownPage.module.css
  src/pages/workshops/WorkshopCountdownPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Workshop email issues for existing user enrollment
  audacious_money_backend/src/routes/auth.ts
  src/pages/admin/WorkshopFormPage.module.css
Due: none

feat: Add helpful note to Recipe Components with link to Edit Product
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/RecipeBuilder.tsx
  src/pages/cpg/FinishedProducts.tsx
Due: Components

feat: Add branded footer to workshop signup page
  src/pages/workshops/WorkshopSignupPage.module.css
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

feat: Add sticky branding sidebar to workshop signup page
  src/pages/workshops/WorkshopSignupPage.module.css
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none
