Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

fix(tests): Fix invoiceTemplates active filtering and isDefault query (2/131)
  src/store/invoiceTemplates.ts
Due: Store

fix: Use filter instead of compound index for boolean queries in getDefaultTemplate
  invoice-templates-test.txt
  src/store/invoiceTemplates.ts
  test-results.txt
Due: Store

fix: Correct timestamp field names in reconciliationService tests
  src/services/reconciliationService.additional.test.ts
Due: none

fix: Correct encryption handling in contacts store
  src/store/contacts.ts
Due: Store

fix: Update emailRenderer test expectations for HTML escaping
  src/services/email/emailRenderer.test.ts
Due: none

fix: Use category ID instead of name for database query
  src/store/categorization.test.ts
Due: none

fix: emailPreferences enabled default should be true
  invoice-templates-test.txt
  src/db/schema/emailPreferences.schema.ts
  src/services/email/emailSchedulingService.test.ts
  test-results.txt
Due: none

fix: Fix emailSchedulingService tests - toLocaleDateString weekday option and mock return values
  invoice-templates-test.txt
  src/components/contacts/ParentAccountSelector.test.tsx
  src/services/email/emailSchedulingService.test.ts
  src/services/reconciliationHistory.service.ts
  src/store/emailPreferences.ts
  test-results.txt
Due: Services, Store

fix: map camelCase to snake_case fields in updateEmailPreferences
  invoice-templates-test.txt
  test-results.txt
Due: none

fix: add validation for frequency and day_of_week in emailPreferences
  invoice-templates-test.txt
  src/components/contacts/ParentAccountSelector.test.tsx
  src/db/schema/emailPreferences.schema.ts
  src/services/reconciliationHistory.service.test.ts
  src/services/recurringInvoiceService.ts
  src/store/emailPreferences.ts
  test-results.txt
Due: Services, Store

fix: correct database table name and error codes in reconciliation tests
  invoice-templates-test.txt
  test-results.txt
Due: none

feat(G11): Implement automated dependency management with Dependabot
  .github/dependabot.yml
  docs/DEPENDENCY_MANAGEMENT.md
  docs/G11_DEPENDENCY_MANAGEMENT_IMPLEMENTATION.md
  package.json
  scripts/license-checker.js
  src/__tests__/infrastructure/dependencies.test.ts
Due: none

feat(Group F): Fix 54 test failures across dashboard widgets and core services
  GROUP_F_TEST_FIXES_FINAL_REPORT.md
  GROUP_F_TEST_FIXES_SESSION_2_REPORT.md
  src/components/dashboard/CashPositionWidget.module.css
  src/components/dashboard/CashPositionWidget.test.tsx
  src/components/dashboard/CashPositionWidget.tsx
  src/components/dashboard/OverdueInvoicesWidget.module.css
  src/components/dashboard/OverdueInvoicesWidget.test.tsx
  src/components/dashboard/OverdueInvoicesWidget.tsx
  src/components/dashboard/RevenueExpensesChart.module.css
  src/components/dashboard/RevenueExpensesChart.test.tsx
  src/components/dashboard/RevenueExpensesChart.tsx
  src/services/email/followUpTemplates.service.test.ts
  src/services/email/followUpTemplates.service.ts
  src/services/journalEntries.integration.test.ts
  src/services/journalEntries.service.test.ts
  src/services/journalEntries.service.ts
  src/services/reports/arAgingReport.service.test.ts
  src/services/reports/arAgingReport.service.ts
Due: Services, Components

fix(tests): Increase timeout thresholds for auditLogExtended performance tests
  src/services/auditLogExtended.test.ts
Due: none

fix: OverdueInvoicesWidget test expectations (6 tests)
  Roadmaps/ROADMAP.md
  Roadmaps/archive/GROUP_H_ARCHIVE_INDEX.md
  Roadmaps/archive/GROUP_H_FINAL_COMPLETION_REPORT.md
  docs/DEPLOYMENT_RUNBOOK.md
  docs/H12_IMPLEMENTATION_SUMMARY.md
  docs/H1_MULTI_USER_IMPLEMENTATION.md
  docs/H2_KEY_ROTATION_IMPLEMENTATION.md
  docs/H5_MULTI_CURRENCY_IMPLEMENTATION.md
  docs/H6_ADVANCED_INVENTORY_IMPLEMENTATION.md
  docs/H7_INTEREST_SPLIT_IMPLEMENTATION.md
  docs/H7_QUICK_START.md
  docs/H8_SYNC_RELAY_IMPLEMENTATION.md
  docs/INFRASTRUCTURE.md
  docs/incident-response/COMMUNICATION_TEMPLATES.md
  docs/incident-response/INCIDENT_DRILLS.md
  docs/incident-response/INCIDENT_RESPONSE_GUIDE.md
  docs/incident-response/ONCALL_AND_ESCALATION.md
  docs/incident-response/POST_MORTEM_PROCESS.md
  docs/incident-response/README.md
  docs/incident-response/ROLLBACK_PROCEDURES.md
  docs/incident-response/RTO_RPO_DEFINITIONS.md
  docs/incident-response/SEVERITY_LEVELS.md
  docs/incident-response/runbooks/01-complete-outage.md
  docs/incident-response/runbooks/02-sync-region-down.md
  docs/incident-response/runbooks/05-authentication-failures.md
  docs/incident-response/runbooks/08-deployment-failed.md
  docs/incident-response/runbooks/09-security-incident.md
  docs/incident-response/runbooks/README.md
  docs/testing/GROUP_H_QUICK_REFERENCE.md
  docs/testing/GROUP_H_TEST_DOCUMENTATION.md
  docs/testing/GROUP_H_TEST_EXECUTION_GUIDE.md
  docs/testing/GROUP_H_TEST_SUMMARY.md
  group_h_summary.txt
  src/components/dashboard/OverdueInvoicesWidget.test.tsx
Due: none

fix: TemplateSelectionStep duplicate account count test
  src/components/wizards/steps/TemplateSelectionStep.test.tsx
Due: none

refactor(Group I): Update I2 for intentional communication, add I3 UX efficiency
  Roadmaps/ROADMAP.md
Due: none

fix: Update original TEST_FIX_CHECKLIST.md with quality lesson
  Roadmaps/TEST_FIX_CHECKLIST.md
Due: none

fix: Group H relay tests (2 failures → 16/16 passing)
  relay/src/__tests__/relay.test.ts
Due: none

fix: TypeScript errors in H5, H6, H7 implementations
  H3_APPROVAL_WORKFLOWS_IMPLEMENTATION.md
  H4_CLIENT_PORTAL_IMPLEMENTATION_SUMMARY.md
  src/components/invoices/PortalLinkGenerator.module.css
  src/components/invoices/PortalLinkGenerator.tsx
  src/db/database.ts
  src/db/index.ts
  src/db/schema/approvalWorkflows.schema.ts
  src/db/schema/payments.schema.ts
  src/db/schema/portalTokens.schema.ts
  src/pages/CustomerPortal.module.css
  src/pages/CustomerPortal.tsx
  src/services/approvalDelegationService.ts
  src/services/approvalRuleEngine.ts
  src/services/approvalWorkflowService.ts
  src/services/exchangeRate.service.ts
  src/services/interestSplit/amortization.service.test.ts
  src/services/interestSplit/amortization.service.ts
  src/services/interestSplit/checklistIntegration.service.ts
  src/services/interestSplit/liabilityDetection.service.test.ts
  src/services/interestSplit/liabilityDetection.service.ts
  src/services/interestSplit/messaging.service.ts
  src/services/interestSplit/paymentSplit.service.test.ts
  src/services/interestSplit/paymentSplit.service.ts
  src/services/multiUser/audit.service.test.ts
  src/services/multiUser/audit.service.ts
  src/services/multiUser/keyRotation.enhanced.service.test.ts
  src/services/multiUser/keyRotation.enhanced.service.ts
  src/services/multiUser/notification.service.test.ts
  src/services/multiUser/notification.service.ts
  src/services/paymentGateway.test.ts
  src/services/paymentGateway.ts
  src/services/portalPaymentIntegration.test.ts
  src/services/portalService.test.ts
  src/services/portalService.ts
  src/store/approvalWorkflows.ts
  src/types/journalEntry.types.ts
  src/types/loanAmortization.types.ts
  tests/e2e/clientPortal.spec.ts
Due: Services, Store, Components

security: Implement Phase 2 medium-severity security fixes (M-1 through M-5)
  .eslintrc.cjs
  .eslintrc.security.cjs
  Roadmaps/SECURITY_FIX_CHECKLIST.md
  src/__tests__/utils/crypto/constantTime.test.ts
  src/__tests__/utils/fileValidation.test.ts
  src/__tests__/utils/rateLimiter.test.ts
  src/api/syncApi.ts
  src/auth/README.md
  src/auth/index.ts
  src/auth/login.ts
  src/auth/session.ts
  src/auth/sessionStorage.ts
  src/components/assessment/AssessmentResults.tsx
  src/components/reconciliation/steps/UploadStatementStep.tsx
  src/crypto/encryption.ts
  src/crypto/keyDerivation.ts
  src/pages/auth/Login.tsx
  src/services/email/emailContentGenerator.ts
  src/services/email/emailRenderer.test.ts
  src/services/email/emailTemplates.ts
  src/sync/syncQueue.ts
  src/utils/confetti.ts
  src/utils/crypto/constantTime.ts
  src/utils/fileValidation.ts
  src/utils/index.ts
  src/utils/rateLimiter.ts
Due: Services, Components

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
