Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

feat: Add back 'My Finished Products' title to page header
  src/components/cpg/FinishedProductManager.module.css
  src/components/cpg/FinishedProductManager.tsx
Due: Components

fix: Prevent grid collisions and properly calculate bundle recipes
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/FinishedProductManager.tsx
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

feat: Add bundle products with hierarchical breakdowns and unified design system
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/FinishedProductManager.module.css
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/pages/cpg/CPUTracker.module.css
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/SalesPromoDecisionTool.module.css
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

feat: Polish Distribution Center and fix promo date entry
  src/components/cpg/DistributorManager.module.css
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/Distribution.tsx
Due: Components

feat: Polish Promo Details Form UX and fix scrolling issues
  src/components/cpg/PromoDetailsForm.module.css
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: Components

fix: Add Clear Data button and fix product dropdown scrolling
  src/components/cpg/PromoDetailsForm.module.css
  src/components/cpg/PromoDetailsForm.tsx
Due: Components

fix: Clear Data button now clears analysis results
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: Components

fix: Show What-If Scenario section even without Demo Warrior entries
  src/components/cpg/PromoImpactSummary.tsx
Due: Components

fix: Remove extra closing div tag
  src/components/cpg/PromoImpactSummary.tsx
Due: Components

fix: Prevent duplicate draft promos and fix edit functionality
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: none

fix: Use correct snake_case field names when updating promo
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: none

fix: Auto-switch to Decision Tool tab when editing promo
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: none

fix: Convert database fields to correct format when loading promo for edit
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: none

fix: Convert demo entries to snake_case to fix Demo Warrior analysis error
  src/components/cpg/PromoImpactSummary.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: Components

fix: Promo Tracker Edit button now properly loads promo data into form
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: Components

fix: Use CPG settings for margin quality thresholds instead of hardcoded values
  src/db/schema/cpg.schema.ts
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/services/cpg/salesPromoAnalyzer.service.ts
Due: Services

fix: Recalculate margin quality when loading existing promos for editing
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: none

fix: Calculate margin quality based on final margin including demo labor costs
  src/services/cpg/salesPromoAnalyzer.service.ts
Due: Services

feat: Add collapsible functionality to Side-by-Side Comparison and Impact Summary
  src/components/cpg/PromoComparison.module.css
  src/components/cpg/PromoComparison.tsx
  src/components/cpg/PromoImpactSummary.module.css
  src/components/cpg/PromoImpactSummary.tsx
Due: Components

feat: Redesign Mark Promo Complete modal with per-variant tracking and purple branding
  src/components/cpg/modals/MarkPromoCompleteModal.module.css
  src/components/cpg/modals/MarkPromoCompleteModal.tsx
  src/db/schema/cpg.schema.ts
  src/pages/cpg/tabs/PromoTrackerTab.tsx
Due: Components

refactor: Condense Mark Promo Complete modal with improved UX
  src/components/cpg/modals/MarkPromoCompleteModal.module.css
  src/components/cpg/modals/MarkPromoCompleteModal.tsx
Due: Components

fix: Improve Mark Promo Complete modal accessibility and UX
  src/components/cpg/modals/MarkPromoCompleteModal.module.css
  src/components/cpg/modals/MarkPromoCompleteModal.tsx
Due: Components

fix: Remove colored text highlights and improve Promo Tracker UX
  src/components/cpg/modals/MarkPromoCompleteModal.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/PromoTrackerTab.module.css
Due: Components

feat: Add comprehensive promo export system and improve UX across Decision Tool
  src/components/cpg/CPGActionBar.module.css
  src/components/cpg/CPGActionBar.tsx
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/PromoTrackerTab.module.css
  src/pages/cpg/tabs/PromoTrackerTab.tsx
  src/services/cpg/promoExport.service.ts
Due: Services, Components

feat: Standardize Add Product modal with design system
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

refactor: Make Add Product modal more compact
  src/components/cpg/modals/AddProductModal.tsx
  src/components/cpg/modals/CPGModals.module.css
Due: Components

refactor: Make Add Product modal wider with larger Product Name field
  src/components/cpg/modals/AddProductModal.tsx
  src/components/cpg/modals/CPGModals.module.css
Due: Components

refactor: Make Pieces per Unit same width as Unit of Measure
  src/components/cpg/modals/AddProductModal.tsx
  src/components/cpg/modals/CPGModals.module.css
Due: Components

fix: Prevent product cards from overlapping on same grid position
  src/components/cpg/FinishedProductManager.tsx
Due: Components

feat: Apply design system to Add Distributor modal
  src/components/cpg/modals/AddDistributorModal.tsx
Due: Components

feat: Apply design system to Add Distributor modal
  src/components/cpg/DistributorProfileForm.tsx
  src/pages/cpg/DistributionCostAnalyzer.tsx
Due: Components

chore: Remove orphaned AddDistributorModal.tsx
  src/components/cpg/modals/AddDistributorModal.tsx
Due: Components

feat: Apply complete design system to Add Distributor form
  src/components/cpg/DistributorProfileForm.tsx
  src/pages/cpg/Distribution.tsx
Due: Components

fix: Remove extra closing div tag in DistributorProfileForm
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

feat: Apply full purple/gold theme and styling to Add Distributor form
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

feat: Polish Add Distributor modal with refined styling
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

fix: Move purple header useEffect after state declarations
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

refactor: Polish Quick Add buttons and Customize modal
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

refactor: Reduce header padding and increase heading sizes in Customize Quick Adds modal
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

refactor: Remove unnecessary description text from Fee Structure section
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
