Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

feat: Improve restore preview UX with clear warnings and CSV export
  src/components/backup/EncryptedBackup.module.css
  src/components/backup/EncryptedBackup.tsx
  src/services/backup/backupDiff.test.ts
  src/services/backup/backupDiff.ts
Due: Services, Components

fix: Make restore preview flow accessible with clear action buttons
  src/components/backup/EncryptedBackup.test.tsx
  src/components/backup/EncryptedBackup.tsx
Due: Components

fix: Resolve infinite spinner on worksheet submit failure
  audacious_money_backend/src/routes/workshops.ts
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/pages/workshops/WorkshopWorksheetPage.tsx
  src/services/workshops.api.ts
Due: Services, Components

security: Remove JWT_SECRET logging, add undefined userId diagnostic
  audacious_money_backend/src/index.ts
  audacious_money_backend/src/utils/jwt.ts
Due: none

fix: Set edit mode when opening invoice from details modal
  src/pages/cpg/CPUTracker.tsx
Due: none

feat: Add inline category and variant creation in invoice modal
  src/components/cpg/modals/AddInvoiceModal.tsx
Due: Components

feat: Add Edit Recipe and Edit Labor buttons to product breakdown modal
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/modals/ProductBreakdownModal.tsx
Due: Components
