Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

refactor: Make Fee Structure heading self-explanatory
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

feat: Polish Financial Statement Entry feature for tester release
  src/components/cpg/BalanceSheetEntryForm.module.css
  src/components/cpg/BalanceSheetEntryForm.tsx
  src/components/cpg/CPGActionBar.tsx
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/DistributionCalculatorForm.module.css
  src/components/cpg/DistributorManager.module.css
  src/components/cpg/DistributorProfileForm.tsx
  src/components/cpg/DistributorSelector.module.css
  src/components/cpg/FinancialTimeline.module.css
  src/components/cpg/FinancialTimeline.tsx
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/PLEntryForm.module.css
  src/components/cpg/PLEntryForm.tsx
  src/components/cpg/RecipeBuilder.module.css
  src/components/cpg/RecipeBuilder.tsx
  src/components/cpg/SKUTracker.module.css
  src/components/cpg/SKUTracker.tsx
  src/components/cpg/SavedScenarios.module.css
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/components/cpg/modals/RecipeBuilderModal.tsx
  src/components/cpg/modals/VendorDetailsModal.tsx
  src/db/database.ts
  src/db/schema/standaloneFinancials.schema.ts
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/Distribution.tsx
  src/pages/cpg/FinancialStatementEntry.module.css
  src/pages/cpg/FinancialStatementEntry.tsx
  src/pages/cpg/HistoricalAnalytics.module.css
  src/pages/cpg/HistoricalAnalytics.tsx
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
Due: Components

feat: Add visual trend charts and fix non-hierarchical filtering to CPU Trends tab
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.module.css
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

refactor: Remove redundant CPU Trends tab from Analytics page
  src/pages/cpg/HistoricalAnalytics.tsx
Due: none

fix: Restore table management state variables for Distributor Costs view
  src/pages/cpg/HistoricalAnalytics.tsx
Due: none

refactor: Move Distributor Costs from Analytics to Distribution Center
  src/pages/cpg/Distribution.tsx
  src/pages/cpg/HistoricalAnalytics.tsx
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

fix: Correct CSS import path in DistributorCostsTab
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

feat: Improve DistributorCostsTab layout and sorting
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

style: Add horizontal padding to DistributorCostsTab
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

refactor: Reorder filter controls in DistributorCostsTab
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

fix: Stack checkboxes vertically in DistributorCostsTab
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

feat: Move Compare With dropdown to comparison stats section
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

style: Compact Compare With dropdown for better alignment
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

fix: Remove trend emoji and align comparison stats
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

style: Match spacing between dropdown and distributor names
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

Revert "style: Match spacing between dropdown and distributor names"
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

refactor: Remove Promo Tracker tab from HistoricalAnalytics page
  src/pages/cpg/HistoricalAnalytics.tsx
Due: none

refactor: Remove Analytics page and seasonal pattern feature
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/HistoricalAnalytics.module.css
  src/pages/cpg/HistoricalAnalytics.tsx
  src/pages/cpg/tabs/DistributorCostsTab.tsx
  src/routes/index.tsx
Due: none

feat: Add delightful accounting-themed 404 page
  src/pages/NotFound.tsx
Due: none

refactor: Polish 404 page with accurate facts and improved UX
  src/pages/NotFound.tsx
Due: none

fix: Smart 404 routing for CPG vs Bookkeeping dashboards
  src/pages/NotFound.tsx
Due: none

feat: Build CPG Financial Web Dashboard with force-directed graph visualization
  src/components/cpg/FinancialWebGraph.module.css
  src/components/cpg/FinancialWebGraph.tsx
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.old.module.css
  src/pages/cpg/CPGDashboard.old.tsx
  src/pages/cpg/CPGDashboard.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services, Components

refine: Polish CPG Financial Web Graph layout, spacing, and UX
  src/components/cpg/FinancialWebGraph.module.css
  src/components/cpg/FinancialWebGraph.tsx
  src/pages/cpg/CPGDashboard.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services, Components

feat: Enhance Financial Web Dashboard with navigation, filtering, and date fixes
  src/components/common/DatePicker.module.css
  src/components/common/DatePicker.tsx
  src/components/cpg/FinancialWebGraph.tsx
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services, Components

refine: Improve CPG dashboard UX with sidebar Quick Add and streamlined filters
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
Due: Components

refine: Upgrade sidebar to sophisticated metallic gold theme
  src/components/layouts/CPGLayout.module.css
Due: Components

refactor: Extract Scenario Planning tabs into separate components and apply metallic gold theme
  src/pages/cpg/ScenarioPlanning.module.css
  src/pages/cpg/ScenarioPlanning.tsx
  src/pages/cpg/tabs/scenario/BreakEvenAnalysisTab.tsx
  src/pages/cpg/tabs/scenario/CompareDistributorsTab.tsx
  src/pages/cpg/tabs/scenario/SKURationalizationTab.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

feat: Implement professional design system for Scenario Planning with purple/gold/green palette
  src/components/core/Button.module.css
  src/components/core/Button.tsx
  src/components/layouts/CPGLayout.module.css
  src/pages/cpg/ScenarioPlanning.module.css
  src/pages/cpg/tabs/scenario/BreakEvenAnalysisTab.tsx
  src/pages/cpg/tabs/scenario/CompareDistributorsTab.tsx
  src/pages/cpg/tabs/scenario/SKURationalizationTab.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: Components

feat: Add comprehensive distributor comparison features to Scenario Planning
  src/pages/cpg/ScenarioPlanning.module.css
  src/pages/cpg/tabs/scenario/CompareDistributorsTab.tsx
  src/services/cpg/scenarioPlanning.service.ts
Due: Services

feat: Build comprehensive What-If Calculator for Scenario Planning
  src/pages/cpg/ScenarioPlanning.module.css
  src/pages/cpg/ScenarioPlanning.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

style: Align What-If Calculator with purple/gold/green design system
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

refine: Streamline What-If Calculator interface with UX improvements
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

refine: Polish What-If Calculator spacing and presentation
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

refine: Center table numbers and add slider infrastructure
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

feat: Implement slider-based What-If Calculator with individual $/% toggles
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

refine: Enhance What-If Calculator with dynamic toggle displays and improved summary box
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

feat: Add Original vs Adjusted comparison display in What-If summary box
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

refine: Flip visual hierarchy in comparison display and streamline labels
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

refine: Adjust summary box typography to match slider input styling
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
Due: none

feat: Implement complete Overall mode for What-If Calculator
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none
