Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

config: exclude E2E tests from unit test suite
  vite.config.ts
Due: none

lint: fix all 16 ESLint errors - zero linting issues
  TEST_FAILURE_ANALYSIS.md
  e2e/f6-ap-aging-report.spec.ts
  e2e/h-multi-user-collaboration.spec.ts
  infrastructure/tests/infrastructure.test.ts
  monitoring/alerts/alert-routing.ts
  monitoring/config/analytics.ts
  monitoring/config/metrics-collector.ts
  test-failures-by-file.txt
Due: none

fix: resolve all 70 crypto tests - core security validated ✨
  src/crypto/encryption.ts
  src/test/setup.ts
Due: none

fix: Fix journal entries test failures (20/20 tests passing)
  src/services/journalEntries.service.test.ts
  src/services/journalEntries.service.ts
Due: Services

fix: Fix rate limiter test failures (38 tests passing)
  src/__tests__/utils/rateLimiter.test.ts
  src/test/setup.ts
  test-output.txt
Due: none

fix: Fix journal entries integration tests (9 tests passing)
  src/services/journalEntries.integration.test.ts
  src/types/journalEntry.types.ts
Due: none

fix: Fix dashboard component tests with Recharts mock (66/72 passing)
  src/test/setup.ts
Due: none

fix: Fix 18 test failures across services and components
  src/__tests__/integration/groupD.integration.test.ts
  src/__tests__/integration/groupE.integration.test.ts
  src/__tests__/integration/reconciliation.e2e.test.ts
  src/components/csv/CSVExporter.test.tsx
  src/components/csv/ColumnMapper.test.tsx
  src/components/visualization/FlowNode.tsx
  src/db/database.ts
  src/services/automation/autoCategorizationService.test.ts
  src/services/automation/autoCategorizationService.ts
  src/services/automation/recurringDetectionService.test.ts
  src/services/automation/recurringDetectionService.ts
  src/services/exchangeRate.service.ts
  src/services/multiUser/audit.service.ts
  src/services/multiUser/keyRotation.enhanced.service.test.ts
  src/services/multiUser/keyRotation.enhanced.service.ts
  src/services/reconciliationService.ts
  src/services/reports/arAgingReport.service.ts
  src/services/reports/reportExport.service.test.ts
  src/services/runway/runwayCalculator.service.test.ts
  src/services/runway/runwayCalculator.service.ts
  src/utils/parsers/matchingAlgorithm.ts
Due: Services, Components

fix: Correct error codes and rate limiting in portal service
  src/services/portalService.ts
Due: Services

fix: Improve InterestSplitPrompt accessibility and test reliability
  src/components/interestSplit/InterestSplitPrompt.test.tsx
  src/components/interestSplit/InterestSplitPrompt.tsx
Due: Components

fix: Use PERMISSION_DENIED error code for company mismatch
  src/services/portalService.ts
Due: Services

fix: Convert journal entry amounts from dollars to cents in reconciliation tests
  src/services/reconciliationService.additional.test.ts
Due: none

fix: Format amounts and improve keyboard navigation in InterestSplitPrompt
  src/components/interestSplit/InterestSplitPrompt.test.tsx
  src/components/interestSplit/InterestSplitPrompt.tsx
Due: Components

fix: Fix database instance mismatch and Recharts rendering tests
  src/components/dashboard/RevenueExpensesChart.test.tsx
  src/store/invoices.ts
Due: Store

feat: Make all features accessible and enhance dashboard
  src/App.tsx
  src/components/layouts/Sidebar.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useCashPosition.ts
  src/hooks/useOverdueInvoices.ts
  src/hooks/useRecentActivity.ts
  src/hooks/useRevenueExpensesData.ts
  src/pages/ChartOfAccounts.tsx
  src/pages/Dashboard.tsx
  src/routes/index.tsx
Due: Components

fix: Improve Chart of Accounts tooltips and account organization
  src/data/industryTemplates.ts
Due: none

feat: Add cash tracking support to all industry templates
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/data/industryTemplates.ts
Due: Components

feat: Reorganize Account Customization into 6 hand-holdy parts
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/AccountCustomizationStep.tsx
Due: Components

feat: Add Simple Mode for transaction entry (9th grader friendly)
  src/components/transactions/SimpleTransactionForm.module.css
  src/components/transactions/SimpleTransactionForm.tsx
  src/pages/Transactions.tsx
Due: Components

feat: Add Developer Reset utility for fresh starts
  src/App.tsx
  src/pages/DevTools.tsx
  src/routes/index.tsx
  src/utils/devReset.ts
Due: none

fix: Add separate reset options - preserve login vs full wipe
  src/pages/DevTools.tsx
  src/utils/devReset.ts
Due: none

fix: Move dev-tools to protected routes to prevent redirect loop
  src/routes/index.tsx
Due: none

fix: Make dev-tools a standalone public page to prevent redirect
  src/pages/DevTools.tsx
  src/routes/index.tsx
Due: none

debug: Add console logging to DevTools and alternate route
  src/pages/DevTools.tsx
  src/routes/index.tsx
Due: none

fix: Remove devReset import that may cause infinite loop
  src/App.tsx
Due: none

feat: Major UX improvements to Chart of Accounts wizard
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/CompletionStep.tsx
  src/data/industryTemplates.ts
Due: Components

feat: Complete refactor to input-driven account creation
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/components/wizards/steps/AccountCustomizationStepOld.tsx
Due: Components

fix: Remove unused imports in AccountCustomizationStep
  src/components/wizards/steps/AccountCustomizationStep.tsx
Due: Components

feat: Fix wizard UX issues and improve Chart of Accounts
  src/components/accounts/AccountList.module.css
  src/components/accounts/AccountList.tsx
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/components/wizards/steps/ReviewStep.module.css
  src/components/wizards/steps/ReviewStep.tsx
  src/components/wizards/steps/TemplateSelectionStep.tsx
  src/pages/ChartOfAccounts.tsx
  src/types/wizard.types.ts
Due: Components

feat: Add account register/ledger view with PDF and CSV export
  src/components/accounts/AccountCard.module.css
  src/components/accounts/AccountCard.tsx
  src/components/accounts/AccountList.module.css
  src/components/accounts/AccountList.tsx
  src/components/accounts/AccountRegister.module.css
  src/components/accounts/AccountRegister.tsx
  src/pages/AccountRegisterPage.tsx
  src/routes/index.tsx
  src/utils/formatting.ts
Due: Components

fix: Resolve register endless loading and add Tree view navigation
  src/components/accounts/AccountList.tsx
  src/pages/AccountRegisterPage.tsx
Due: Components

fix: Fix wizard state persistence to properly save and restore progress
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/utils/wizardState.ts
Due: Components

feat: Add entity type definitions and equity account generation
  src/types/index.ts
  src/utils/equityAccounts.ts
Due: none

feat: Add sub-account support to AccountCustomization type
  src/types/wizard.types.ts
Due: none

feat: Add form state persistence and expand expense options
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/types/wizard.types.ts
Due: Components

fix: UI improvements and bug fixes
  src/components/accounts/AccountCard.tsx
  src/pages/ChartOfAccounts.tsx
Due: Components

debug: Add console logging to AccountRegisterPage
  src/pages/AccountRegisterPage.tsx
Due: none

debug: Add console logging to navigation handlers
  src/components/accounts/AccountCard.tsx
  src/components/accounts/AccountList.tsx
Due: Components

debug: Add visible error messages to AccountRegisterPage
  src/pages/AccountRegisterPage.tsx
Due: none
