Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

feat: Add admin bulk email sending to workshop attendees
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/services/email.service.ts
  src/pages/admin/WorkshopEnrollmentsPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Prevent duplicate workshop emails and fix scheduling
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Add missing enrollment tracking fields and fix signup flow
  audacious_money_backend/src/db/migrations/024_add_enrollment_tracking_columns.sql
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Make signup work with existing database schema
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Use only original schema columns in enrollment INSERT
  audacious_money_backend/src/routes/workshops.ts
Due: none

feat: Add database-backed email scheduling system
  Roadmaps/EMAIL_SCHEDULING_SYSTEM.md
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/db/migrations/025_scheduled_emails.sql
  audacious_money_backend/src/routes/cron.ts
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/services/emailScheduler.service.ts
Due: none

feat: Enhanced checklist scheduling with custom checklist creation
  src/components/accounts/AccountList.module.css
  src/components/accounts/AccountList.tsx
  src/components/accounts/AccountTree.tsx
  src/components/accounts/DateRangePopover.module.css
  src/components/accounts/DateRangePopover.tsx
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/components/wizards/steps/ReviewStep.tsx
  src/db/schema/checklistCalendar.schema.ts
  src/features/checklistCalendar/components/ChecklistManager/ChecklistManager.module.css
  src/features/checklistCalendar/components/ChecklistManager/ChecklistManager.tsx
  src/features/checklistCalendar/components/CreateChecklistModal/CreateChecklistModal.module.css
  src/features/checklistCalendar/components/CreateChecklistModal/CreateChecklistModal.tsx
  src/features/checklistCalendar/components/CreateChecklistModal/index.ts
  src/features/checklistCalendar/components/DayDetailPanel.module.css
  src/features/checklistCalendar/components/DayDetailPanel.tsx
  src/features/checklistCalendar/components/DayPicker/DayPicker.module.css
  src/features/checklistCalendar/components/DayPicker/DayPicker.tsx
  src/features/checklistCalendar/components/DayPicker/index.ts
  src/features/checklistCalendar/components/ScheduleSelector/ScheduleSelector.module.css
  src/features/checklistCalendar/components/ScheduleSelector/ScheduleSelector.tsx
  src/features/checklistCalendar/components/ScheduleSelector/index.ts
  src/features/checklistCalendar/components/SetupWizard/SetupWizard.module.css
  src/features/checklistCalendar/components/SetupWizard/SetupWizard.tsx
  src/features/checklistCalendar/components/TaskDetailModal.module.css
  src/features/checklistCalendar/components/TaskDetailModal.tsx
  src/features/checklistCalendar/components/index.ts
  src/features/checklistCalendar/hooks/useCalendar.ts
  src/features/checklistCalendar/index.ts
  src/features/checklistCalendar/pages/AdminCalendarPage.tsx
  src/features/checklistCalendar/services/CalendarService.ts
  src/features/checklistCalendar/services/ChecklistService.ts
  src/features/checklistCalendar/services/TaskService.ts
  src/features/checklistCalendar/utils/recurrence.ts
  src/hooks/useAccountBalances.ts
  src/pages/AccountRegisterPage.tsx
  src/pages/Checklist.tsx
  src/utils/dateRanges.ts
  src/utils/openingBalances.ts
Due: Components

feat: Add procedures system with task selection and visual enhancements
  src/db/database.ts
  src/db/schema/checklistCalendar.schema.ts
  src/features/checklistCalendar/components/CalendarDay.module.css
  src/features/checklistCalendar/components/CalendarDay.tsx
  src/features/checklistCalendar/components/CreateChecklistModal/CreateChecklistModal.module.css
  src/features/checklistCalendar/components/CreateChecklistModal/CreateChecklistModal.tsx
  src/features/checklistCalendar/components/DayDetailPanel.module.css
  src/features/checklistCalendar/components/DayDetailPanel.tsx
  src/features/checklistCalendar/components/ProcedureInstanceView/ProcedureInstanceView.module.css
  src/features/checklistCalendar/components/ProcedureInstanceView/ProcedureInstanceView.tsx
  src/features/checklistCalendar/components/ProcedureInstanceView/index.ts
  src/features/checklistCalendar/components/ProceduresTab/ProceduresTab.module.css
  src/features/checklistCalendar/components/ProceduresTab/ProceduresTab.tsx
  src/features/checklistCalendar/components/ProceduresTab/index.ts
  src/features/checklistCalendar/components/SetupWizard/SetupWizard.module.css
  src/features/checklistCalendar/components/SetupWizard/SetupWizard.tsx
  src/features/checklistCalendar/components/StartProcedureModal/StartProcedureModal.module.css
  src/features/checklistCalendar/components/StartProcedureModal/StartProcedureModal.tsx
  src/features/checklistCalendar/components/StartProcedureModal/index.ts
  src/features/checklistCalendar/components/index.ts
  src/features/checklistCalendar/index.ts
  src/features/checklistCalendar/pages/AdminCalendarPage.tsx
  src/features/checklistCalendar/services/CalendarService.ts
  src/features/checklistCalendar/services/ChecklistService.ts
  src/features/checklistCalendar/services/CompletionService.ts
  src/features/checklistCalendar/services/ProcedureService.ts
  src/features/checklistCalendar/services/index.ts
  src/pages/Checklist.tsx
Due: none

feat: Chart of Accounts redesign with parent account management
  src/components/accounts/AccountCard.module.css
  src/components/accounts/AccountCard.tsx
  src/components/accounts/AccountForm.tsx
  src/components/accounts/AccountList.module.css
  src/components/accounts/AccountList.tsx
  src/components/accounts/AccountRegister.module.css
  src/components/accounts/AccountRegister.tsx
  src/components/modals/Modal.module.css
  src/components/transactions/LineItemInput.tsx
  src/components/transactions/SimpleTransactionForm.tsx
  src/hooks/useAccountBalances.ts
  src/pages/AccountRegisterPage.tsx
  src/pages/ChartOfAccounts.tsx
  src/pages/Checklist.tsx
Due: Components

feat: Add Flex Account system and fix companyId consistency
  src/components/accounts/AccountList.tsx
  src/components/transactions/ExpenseForm.module.css
  src/components/transactions/ExpenseForm.tsx
  src/components/transactions/SimpleTransactionForm.module.css
  src/components/transactions/SimpleTransactionForm.tsx
  src/components/transactions/TransactionList.tsx
  src/components/vendors/VendorModal.module.css
  src/components/vendors/VendorModal.tsx
  src/components/vendors/VendorSelect.module.css
  src/components/vendors/VendorSelect.tsx
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/hooks/useAccountBalances.ts
  src/hooks/useTransactions.ts
  src/pages/AccountRegisterPage.tsx
  src/pages/Dashboard.tsx
  src/pages/Transactions.tsx
  src/store/transactions.ts
  src/types/index.ts
  src/utils/equityAccounts.ts
Due: Store, Components

feat: Transaction detail drawer and balance calculation fixes
  CLAUDE.md
  src/components/accounts/AccountRegister.module.css
  src/components/accounts/AccountRegister.tsx
  src/components/transactions/ExpenseForm.module.css
  src/components/transactions/ExpenseForm.tsx
  src/components/transactions/SimpleTransactionForm.module.css
  src/components/transactions/SimpleTransactionForm.tsx
  src/components/transactions/TransactionDetailDrawer.module.css
  src/components/transactions/TransactionDetailDrawer.tsx
  src/components/transactions/TransactionDetailEdit.module.css
  src/components/transactions/TransactionDetailEdit.tsx
  src/components/transactions/TransactionDetailView.module.css
  src/components/transactions/TransactionDetailView.tsx
  src/components/transactions/TransactionForm.tsx
  src/components/transactions/TransactionLineItemsTable.module.css
  src/components/transactions/TransactionLineItemsTable.tsx
  src/components/transactions/TransactionStatusBadge.module.css
  src/components/transactions/TransactionStatusBadge.tsx
  src/components/transactions/TransactionTypeBadge.module.css
  src/components/transactions/TransactionTypeBadge.tsx
  src/hooks/useAccountBalances.ts
  src/hooks/useTransactions.ts
  src/pages/Transactions.tsx
  src/types/index.ts
  src/utils/formatting.ts
  src/utils/transactionValidation.ts
Due: Components

feat: Enhanced Recent Activity table with filters, sorting, and export
  src/components/transactions/RecentActivityTable.module.css
  src/components/transactions/RecentActivityTable.tsx
  src/components/transactions/TransactionTypeBadge.module.css
  src/components/transactions/TransactionTypeBadge.tsx
  src/pages/Transactions.tsx
  src/store/transactions.ts
  src/types/index.ts
Due: Store, Components

feat: ExpenseForm enhancements and Recent Activity sort by entry time
  src/components/accounts/AccountAutocomplete.module.css
  src/components/accounts/AccountAutocomplete.tsx
  src/components/accounts/index.ts
  src/components/transactions/ExpenseForm.module.css
  src/components/transactions/ExpenseForm.tsx
  src/components/transactions/RecentActivityTable.tsx
Due: Components

feat: Add Bill Paid and Invoice Paid payment workflows
  src/components/transactions/BillPaidForm.module.css
  src/components/transactions/BillPaidForm.tsx
  src/components/transactions/InvoicePaidForm.module.css
  src/components/transactions/InvoicePaidForm.tsx
  src/pages/Transactions.tsx
Due: Components

feat: Add frozen state system with FrozenGuardButton protection
  audacious_money_backend/src/routes/users.ts
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/utils/responses.ts
  src/App.tsx
  src/components/cpg/CategoryManager.tsx
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/RecipeBuilder.tsx
  src/components/cpg/modals/AddCategoryModal.tsx
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/AddLaborRoleModal.tsx
  src/components/cpg/modals/AddProductModal.tsx
  src/components/cpg/modals/LaborAssignmentModal.tsx
  src/components/frozen/CharityConfirmation.module.css
  src/components/frozen/CharityConfirmation.tsx
  src/components/frozen/FrozenGuardButton.tsx
  src/components/frozen/FrozenStateBanner.module.css
  src/components/frozen/FrozenStateBanner.tsx
  src/components/frozen/FrozenStateModal.module.css
  src/components/frozen/FrozenStateModal.tsx
  src/components/frozen/ReactivationFlow.module.css
  src/components/frozen/ReactivationFlow.tsx
  src/components/frozen/index.ts
  src/components/settings/DataSafetyPanel.tsx
  src/contexts/FrozenStateContext.tsx
  src/pages/Settings.tsx
  src/pages/cpg/CPGSettings.tsx
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/tabs/RawMaterialsTab.tsx
  src/pages/cpg/tabs/labor/LaborRolesTab.tsx
  src/services/reactivation.api.ts
Due: Services, Components

fix: Use arrayBuffer for Stripe webhook signature verification
  audacious_money_backend/src/routes/webhooks.ts
Due: none

fix: Add missing frozenState middleware for backend
  audacious_money_backend/src/middleware/frozenState.ts
  audacious_money_backend/src/utils/responses.ts
Due: none

fix: Check trial_ends_at in frozen state middleware for workshop trials
  audacious_money_backend/src/middleware/frozenState.ts
Due: none

fix: Honor workshop timezone for trial calculations
  audacious_money_backend/src/middleware/frozenState.ts
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/utils/workshopAccess.ts
Due: none

feat: Unified Settings page with product-aware sections
  src/components/layouts/AccountLayout.tsx
  src/pages/Settings.tsx
Due: Components

fix: Workshop trial dates now set at enrollment and backfilled on startup
  audacious_money_backend/src/index.ts
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/routes/workshops.ts
Due: none

feat: Redesign charity selection UI for reactivation flow
  src/components/frozen/CharityConfirmation.module.css
  src/components/frozen/CharityConfirmation.tsx
Due: Components

fix: Add all charity category icons
  src/components/frozen/CharityConfirmation.tsx
Due: Components

feat: Purple header for charity selection modal
  src/components/frozen/CharityConfirmation.module.css
  src/components/frozen/CharityConfirmation.tsx
Due: Components

feat: Refine charity selection modal with tagline and flow messaging
  src/components/frozen/CharityConfirmation.module.css
  src/components/frozen/CharityConfirmation.tsx
  src/components/frozen/ReactivationFlow.tsx
  src/components/modals/Modal.tsx
Due: Components

feat: Make charity names clickable links to their websites
  src/components/frozen/CharityConfirmation.module.css
  src/components/frozen/CharityConfirmation.tsx
Due: Components

feat: Add subscription reactivation endpoint for frozen accounts
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/routes/subscriptions.ts
  src/services/api.ts
  src/services/reactivation.api.ts
Due: Services

fix: Revert API URL to hardcoded production value
  src/services/api.ts
Due: Services

fix: Revert all UI changes to restore stable production state
  src/components/frozen/CharityConfirmation.module.css
  src/components/frozen/CharityConfirmation.tsx
  src/components/frozen/ReactivationFlow.tsx
  src/components/modals/Modal.tsx
Due: Components

feat: Redesign charity selection with purple header and improved UI
  src/components/frozen/CharityConfirmation.module.css
  src/components/frozen/CharityConfirmation.tsx
Due: Components

fix: Update charity selection to use history pattern
  audacious_money_backend/src/routes/subscriptions.ts
Due: none

fix: Only include trial_period_days when > 0
  audacious_money_backend/src/services/stripe.service.ts
Due: none

feat: Integrate Stripe Pricing Table for subscription reactivation
  audacious_money_backend/src/db/migrations/026_add_annual_pricing.sql
  audacious_money_backend/src/routes/products.ts
  audacious_money_backend/src/routes/subscriptions.ts
  src/components/frozen/ReactivationFlow.tsx
  src/components/frozen/StripePricingTable.module.css
  src/components/frozen/StripePricingTable.tsx
  src/components/frozen/index.ts
  src/services/reactivation.api.ts
Due: Services, Components

fix: Map 'trialing' status to 'trial' for frontend consistency
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/routes/users.ts
Due: none

fix: Handle Pricing Table checkouts and set trial_converted properly
  audacious_money_backend/src/routes/webhooks.ts
Due: none

feat: Add billing-debug endpoint for troubleshooting
  audacious_money_backend/src/routes/users.ts
Due: none

feat: Replace checkout session with embedded Stripe Pricing Table in signup
  src/pages/auth/Signup.module.css
  src/pages/auth/Signup.tsx
Due: none

fix: Fix Pricing Table userId not being passed to webhook
  audacious_money_backend/src/routes/webhooks.ts
  src/components/frozen/ReactivationFlow.tsx
  src/components/frozen/StripePricingTable.tsx
Due: Components

feat: Add one-time endpoint to fix corrupted subscription data
  audacious_money_backend/src/app.ts
Due: none

fix: Sync Stripe customer email to account email after checkout
  audacious_money_backend/src/routes/webhooks.ts
Due: none
