Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

fix: Add sticky Save Changes button always visible at bottom
  src/pages/cpg/CPGSettings.tsx
Due: none

fix: Allow decimal precision for distributor fee percentages
  src/components/cpg/DistributorProfileForm.tsx
Due: Components

feat: Add product duplication with Actions dropdown and rename MSRP
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/DistributionResultsDisplay.tsx
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/PromoDetailsForm.tsx
  src/components/cpg/SavedScenarios.tsx
  src/components/cpg/modals/AddProductModal.tsx
  src/components/cpg/modals/BundleProductsModal.tsx
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/db/schema/cpg.schema.ts
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/DistributorCostsTab.tsx
  src/pages/cpg/tabs/impactShare/ScenarioBuilderTab.tsx
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.tsx
Due: Components

refactor: Rename 'Sold Price to You:' to 'Selling Price'
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/DistributionResultsDisplay.tsx
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/PromoDetailsForm.tsx
  src/components/cpg/SavedScenarios.tsx
  src/components/cpg/modals/AddProductModal.tsx
  src/components/cpg/modals/BundleProductsModal.tsx
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/db/schema/cpg.schema.ts
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/DistributorCostsTab.tsx
  src/pages/cpg/tabs/impactShare/ScenarioBuilderTab.tsx
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.tsx
Due: Components

feat: Improve beta signup password validation UX
  src/pages/auth/BetaSignup.tsx
Due: none

feat: Implement full 6-decimal precision system with user-configurable display (2-4 decimals)
  src/App.tsx
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/InvoiceEntryForm.tsx
  src/components/cpg/InvoiceEntryFormIntegrated.tsx
  src/components/cpg/PromoComparison.tsx
  src/components/cpg/PromoImpactSummary.tsx
  src/components/cpg/modals/AddLaborRoleModal.tsx
  src/components/cpg/modals/LaborAssignmentModal.tsx
  src/contexts/CPGSettingsContext.tsx
  src/hooks/useCPGSettings.ts
  src/pages/cpg/CPGSettings.tsx
  src/pages/cpg/tabs/labor/LaborReportsTab.tsx
  src/pages/cpg/tabs/labor/LaborRolesTab.tsx
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.tsx
  src/services/cpg/cpgIntegration.service.ts
  src/services/cpg/cpuCalculator.service.ts
  src/services/cpg/distributionCostCalculator.service.ts
  src/services/cpg/eventAnalyzer.service.ts
  src/services/cpg/financialWebData.service.ts
  src/services/cpg/historicalAnalytics.service.ts
  src/services/cpg/impactShare.service.ts
  src/services/cpg/laborRole.service.ts
  src/services/cpg/salesPromoAnalyzer.service.ts
  src/services/cpg/scenarioPlanning.service.ts
  src/services/cpg/shippingDistribution.service.ts
  src/utils/cpgFormatting.ts
  src/utils/mathParser.ts
Due: Services, Components

fix: Labor costs now respect user's decimal precision settings (2-4 decimals)
  src/components/cpg/EventImpactSummary.tsx
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/modals/ProductBreakdownModal.tsx
Due: Components

fix: Systematically fix precision loss in all financial calculations
  src/db/schema/bills.schema.ts
  src/db/schema/cpg.schema.ts
  src/db/schema/invoices.schema.ts
  src/db/schema/products.schema.ts
  src/db/schema/standaloneFinancials.schema.ts
  src/db/schema/transactions.schema.ts
Due: none

fix: Update validation schemas to allow 6 decimal places for precision
  src/utils/validation.ts
Due: none

fix: Update Scenario Builder to respect user decimal place settings
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
Due: none

fix: Rectify Promo Analysis page with precision settings and validation improvements
  src/components/cpg/PromoDetailsForm.tsx
  src/components/cpg/PromoImpactSummary.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: Components

fix: Remove last formatNumberWithCommas reference in Scenario Builder
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
Due: none

feat: Add Production Labor costs to Events Analysis page
  src/components/layouts/Sidebar.css
  src/pages/cpg/tabs/EventDecisionToolTab.module.css
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: Components

fix: Add missing user_products columns for Stripe webhook handling
  audacious_money_backend/.do/app.yaml
  audacious_money_backend/src/db/migrations/003_add_webhook_columns.sql
  audacious_money_backend/start.sh
Due: none

fix: Run migrations automatically on npm start
  audacious_money_backend/package.json
  audacious_money_backend/start.sh
Due: none

feat: Add CPG Product Launch signup system
  audacious_money_backend/src/db/migrations/005_cpg_launch_signups.sql
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/services/email.service.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

feat: Update CPG signup to accept separate first/last names
  audacious_money_backend/src/routes/auth.ts
Due: none

feat: Add unsubscribe functionality to CPG launch emails
  audacious_money_backend/src/db/migrations/006_add_unsubscribe_to_cpg_signups.sql
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/services/email.service.ts
Due: none

fix: Update unsubscribe text and fix endpoint error
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/services/email.service.ts
Due: none

fix: Rename unsubscribe migration to version 007
  audacious_money_backend/src/db/migrations/007_add_unsubscribe_to_cpg_signups.sql
Due: none

feat: Implement proper unsubscribe flow with confirmation
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/services/email.service.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

fix: Add audacious.money to ALLOWED_ORIGINS in production
  audacious_money_backend/.do/app.yaml
Due: none

feat: Allow re-subscription after unsubscribing from CPG launch
  audacious_money_backend/src/routes/auth.ts
Due: none

feat: Add comprehensive billing and subscription management system
  audacious_money_backend/run-migration-production.sh
  audacious_money_backend/src/db/migrations/004_add_pause_and_grace_period.sql
  audacious_money_backend/src/db/migrations/006_add_is_beta_flag.sql
  audacious_money_backend/src/routes/users.ts
  audacious_money_backend/src/services/stripe.service.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/billing/AccountDeletionSection.module.css
  src/components/billing/AccountDeletionSection.tsx
  src/components/billing/InvoiceHistoryTable.module.css
  src/components/billing/InvoiceHistoryTable.tsx
  src/components/billing/PaymentMethodCard.module.css
  src/components/billing/PaymentMethodCard.tsx
  src/components/billing/SubscriptionStatusCard.module.css
  src/components/billing/SubscriptionStatusCard.tsx
  src/components/layouts/CPGLayout.tsx
  src/components/layouts/MainLayout.tsx
  src/components/layouts/Sidebar.tsx
  src/components/subscription/ReadOnlyBanner.module.css
  src/components/subscription/ReadOnlyBanner.tsx
  src/contexts/SubscriptionContext.tsx
  src/pages/Billing.tsx
  src/pages/Settings.tsx
  src/routes/index.tsx
  src/services/api.ts
  src/services/billing.api.ts
Due: Services, Components

feat: Improve payment method display with better card type details
  src/components/billing/PaymentMethodCard.tsx
Due: Components

feat: Add editable payment method nickname/label feature
  src/components/billing/PaymentMethodCard.module.css
  src/components/billing/PaymentMethodCard.tsx
Due: Components

fix: Display accurate payment method details for all payment types
  audacious_money_backend/src/routes/users.ts
  src/components/billing/PaymentMethodCard.tsx
  src/services/billing.api.ts
Due: Services, Components

debug: Log full Stripe payment method object to diagnose Link data
  audacious_money_backend/src/routes/users.ts
Due: none

fix: Clean up Stripe Link payment method display
  src/components/billing/PaymentMethodCard.tsx
Due: Components

chore: Trigger deployment after revert to working state
  audacious_money_backend/.deployment-trigger
Due: none

feat: Add unified email subscriber system with correct architecture
  audacious_money_backend/src/db/migrations/008_create_unified_email_subscribers.sql
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/routes/auth.ts
Due: none

feat: Add unified email subscribers to admin dashboard
  src/pages/admin/AdminDashboard.tsx
Due: none

feat: Add contact form endpoint (rebuilt after revert)
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/routes/contact.ts
  audacious_money_backend/src/services/email.service.ts
  audacious_money_backend/src/utils/validation.ts
Due: none

docs: Add comprehensive contact form deployment guide
  audacious_money_backend/CONTACT_FORM_DEPLOYMENT.md
Due: none

docs: Add complete unified email system documentation
  audacious_money_backend/UNIFIED_EMAIL_SYSTEM_COMPLETE.md
Due: none

debug: Add console logging for email subscribers endpoint
  src/pages/admin/AdminDashboard.tsx
Due: none

chore: Trigger Vercel deployment for admin dashboard updates
  .vercel-deploy-trigger
Due: none

debug: Add more detailed error logging for email subscribers
  src/pages/admin/AdminDashboard.tsx
Due: none

fix: Add detailed error message to email subscribers endpoint
  audacious_money_backend/src/routes/admin.ts
Due: none

refactor: Replace unified email system with simple home signups
  audacious_money_backend/src/db/migrations/008_create_unified_email_subscribers.sql
  audacious_money_backend/src/db/migrations/009_home_email_signups.sql
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/routes/auth.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
