Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

fix: Improve Events Analysis dropdown positioning and results display
  src/components/cpg/EventImpactSummary.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.module.css
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: Components

fix: Remove required prop from Location field to allow optional entry
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: none

fix: Restore labor cost inclusion in averageGrossProfitWithEvent calculation
  FRONTEND_TECH_DEBT.md
  Roadmaps/PHASE_5_V2_COMPLETE.md
  TASK_5.1_VERIFICATION.md
  TASK_5.2_VERIFICATION.md
  audacious_money_backend/.env.production.example
  audacious_money_backend/scripts/run-migrations.sh
  audacious_money_backend/scripts/verify-db-connection.ts
  docs/CLOUDFLARE_DEPLOYMENT.md
  docs/DIGITAL_OCEAN_DATABASE_SETUP.md
  docs/PRODUCTION_BUILD_CONFIGURATION.md
  public/_headers.backup
  public/_redirects
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: none

debug: Add console logging to track labor cost data flow
  TASK_6.3_COMPLETION_REPORT.md
  audacious_money_backend/.do/app.yaml
  audacious_money_backend/WEBHOOK_TESTING.md
  audacious_money_backend/scripts/README.md
  audacious_money_backend/scripts/test-webhook.bat
  audacious_money_backend/scripts/test-webhook.sh
  audacious_money_backend/scripts/verify-stripe-integration.ts
  audacious_money_sync/.do/app.yaml
  audacious_money_sync/.env.example
  docs/DEPLOYMENT_CHECKLIST.md
  docs/DIGITAL_OCEAN_APP_DEPLOYMENT.md
  docs/STRIPE_WEBHOOK_CONFIGURATION.md
  src/components/cpg/EventImpactSummary.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: Components

fix: Remove location required validation and add detailed labor entry debugging
  src/db/schema/cpg.schema.ts
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
  src/services/cpg/eventAnalyzer.service.ts
Due: Services

debug: Add detailed per-entry logging to identify field name mismatch
  Roadmaps/PHASE_6_V2_COMPLETE.md
  src/services/cpg/eventAnalyzer.service.ts
Due: Services

feat: Add production-ready database SSL configuration for Phase A deployment
  audacious_money_backend/PRODUCTION_READINESS.md
  audacious_money_backend/certs/ca-certificate.crt
  audacious_money_backend/run-migrations.ts
  audacious_money_backend/scripts/verify-db-connection-simple.ts
  audacious_money_backend/src/db/connection.ts
Due: none

feat: Update package.json for Node.js production deployment
  audacious_money_backend/package.json
Due: none

chore: Update package-lock.json for Node.js dependencies
  audacious_money_backend/package-lock.json
Due: none

fix: Migrate from Bun to Node.js runtime for production deployment
  audacious_money_backend/DEPLOYMENT_ENV_VARS.md
  audacious_money_backend/package-lock.json
  audacious_money_backend/package.json
  audacious_money_backend/src/index.ts
Due: none

feat: Implement Event Tracker edit functionality and smart status filtering
  src/components/cpg/modals/MarkEventCompleteModal.module.css
  src/components/cpg/modals/MarkEventCompleteModal.tsx
  src/pages/cpg/EventsAnalysis.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
  src/pages/cpg/tabs/EventTrackerTab.module.css
  src/pages/cpg/tabs/EventTrackerTab.tsx
  src/services/cpg/eventAnalyzer.service.ts
  src/services/cpg/eventExport.service.ts
Due: Services, Components

feat: Add Stripe webhook endpoint handler
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/routes/webhooks.ts
Due: none

feat: Add Bronze Events node to CPG Dashboard with date filtering
  src/components/cpg/FinancialWebGraph.module.css
  src/components/cpg/FinancialWebGraph.tsx
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/EventsAnalysis.tsx
  src/pages/cpg/tabs/EventTrackerTab.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services, Components

feat: Connect frontend signup to backend API with Postmark email integration
  Roadmaps/ROADMAPS_DEPLOYMENT.md
  audacious_money_backend/.env.example
  audacious_money_backend/.env.production.example
  audacious_money_backend/POSTMARK_SETUP.md
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/index.ts
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/routes/test-email.ts
  audacious_money_backend/src/services/email.service.ts
  audacious_money_backend/src/utils/validation.ts
  src/pages/auth/Signup.tsx
  src/services/api.ts
  src/services/auth.api.ts
Due: Services

feat: Add Dockerfile and fix migration SSL for production deployment
  audacious_money_backend/.dockerignore
  audacious_money_backend/Dockerfile
  audacious_money_backend/src/db/migrate.ts
Due: none

fix: Remove dotenv import from production server code
  audacious_money_backend/package.json
  audacious_money_backend/src/index.ts
Due: none

chore: Regenerate package-lock.json after package.json update
  audacious_money_backend/package-lock.json
Due: none

feat: Add product selection step to signup flow
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/routes/products.ts
  src/pages/auth/Signup.tsx
  src/services/products.api.ts
Due: Services

feat: Add complete Stripe payment integration
  audacious_money_backend/package-lock.json
  audacious_money_backend/package.json
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/routes/users.ts
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/services/stripe.service.ts
Due: none

feat: Add Stripe checkout flow to signup process
  src/pages/auth/Signup.tsx
  src/pages/checkout/CheckoutCancel.tsx
  src/pages/checkout/CheckoutSuccess.tsx
  src/routes/index.tsx
  src/services/checkout.api.ts
Due: Services

feat: Add missing webhook handlers for subscription pending updates
  audacious_money_backend/src/routes/webhooks.ts
Due: none

fix: Update products API to use correct database column names
  audacious_money_backend/src/routes/products.ts
  audacious_money_backend/update-stripe-prices.mjs
Due: none

fix: Correct product routing and slug references
  audacious_money_backend/update-fractional-cfo.mjs
  src/pages/auth/Signup.tsx
  src/pages/checkout/CheckoutSuccess.tsx
Due: none

debug: Add comprehensive logging to CheckoutSuccess
  src/pages/checkout/CheckoutSuccess.tsx
Due: none

debug: Add comprehensive logging and alerts to Signup flow
  src/pages/auth/Signup.tsx
Due: none

fix: Correct product ID type from number to UUID string
  audacious_money_backend/src/routes/users.ts
  src/services/checkout.api.ts
  src/services/products.api.ts
Due: Services

refactor: Remove debug logging from Signup and CheckoutSuccess
  src/pages/auth/Signup.tsx
  src/pages/checkout/CheckoutSuccess.tsx
Due: none

debug: Add comprehensive API and checkout logging with alerts
  src/pages/auth/Signup.tsx
  src/services/api.ts
Due: Services

debug: Add alert at first line of handleCompleteSignup
  src/pages/auth/Signup.tsx
Due: none

fix: Resolve Cloudflare build errors for WASM and pdf-parse
  package-lock.json
  package.json
  src/__mocks__/pdf-parse.ts
  src/utils/parsers/pdfParser.ts
  vite.config.ts
Due: none

fix: Update CSP to allow API and Stripe connections
  index.html
Due: none

fix: Unwrap API response data wrapper
  src/services/auth.api.ts
  src/services/checkout.api.ts
  src/services/products.api.ts
Due: Services

fix: Convert price_usd from string to number
  src/services/products.api.ts
Due: Services

fix: Remove debug alerts and fix API error message extraction
  src/pages/auth/Signup.tsx
  src/services/api.ts
Due: Services

feat: Add detailed validation error logging
  src/services/api.ts
Due: Services

fix: Add password requirements help text and fix charityId validation
  src/pages/auth/Signup.tsx
Due: none

fix: Remove charity_id from signup - column doesn't exist in users table
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/utils/validation.ts
  src/services/api.ts
Due: Services

feat: Add password visibility toggle and detailed backend logging
  audacious_money_backend/src/routes/auth.ts
  src/pages/auth/Signup.tsx
Due: none

fix: Extract first IP from x-forwarded-for header for audit logs
  audacious_money_backend/src/routes/auth.ts
Due: none

fix: Use production API URL instead of localhost in production builds
  src/services/api.ts
Due: Services

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
