Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

fix: Address backup UX issues and add comprehensive debugging
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/settings/DataSafetyPanel.tsx
Due: Components

feat: Add Shipping + Handling distribution feature for CPG invoices
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/InvoiceDetailsModal.tsx
  src/db/database.ts
  src/db/schema/cpg.schema.ts
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
  src/services/cpg/cpgCategory.service.ts
  src/services/cpg/cpuCalculator.service.ts
  src/services/cpg/shippingDistribution.service.ts
Due: Services, Components

fix: Update encryption messaging and add comprehensive directory handle debugging
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/settings/DataSafetyPanel.tsx
Due: Components

fix: Resolve FileSystemDirectoryHandle serialization in IndexedDB
  src/services/backup/FileSystemBackup.ts
Due: Services

style: Change login page background from gradient to solid royal purple
  src/pages/auth/Login.tsx
Due: none

fix: Implement proper FileSystemDirectoryHandle persistence with idb library
  package-lock.json
  package.json
  src/services/backup/FileSystemBackup.ts
Due: Services

fix: Backup location and status now display correctly in Settings
  src/components/settings/DataSafetyPanel.tsx
  src/services/backup/FileSystemBackup.ts
Due: Services, Components

feat: Add backup history tracking to Settings page
  src/components/settings/DataSafetyPanel.tsx
Due: Components

fix: Prevent backup file overwrites and add debug logging
  src/components/settings/DataSafetyPanel.tsx
Due: Components

feat: Implement backup download from history
  src/components/settings/DataSafetyPanel.tsx
Due: Components

fix: Dashboard node/line clicks now navigate to correct sub-tab
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
Due: none

fix: Prevent pinned tab from overriding URL navigation
  src/pages/cpg/CPUTracker.tsx
Due: none

debug: Add comprehensive logging for dashboard navigation
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPUTracker.tsx
Due: none

fix: Resolve race condition in dashboard navigation to Vendor Intel
  src/pages/cpg/CPUTracker.tsx
Due: none

fix: Correct AddLaborRoleModal props and remove disclaimer text
  src/pages/cpg/tabs/labor/LaborRolesTab.tsx
Due: none

fix: S+H category now shows data in Vendor Intel
  S+H_FIX_SUMMARY.md
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
Due: none

fix: Invoice validation now properly catches empty price/units fields
  src/components/cpg/modals/AddInvoiceModal.tsx
Due: Components

fix: Prevent partially-filled invoice items from bypassing validation
  src/components/cpg/modals/AddInvoiceModal.tsx
Due: Components

fix: Normalize decimal values starting with period before validation
  src/components/cpg/modals/AddInvoiceModal.tsx
Due: Components

fix: S+H category fixes - decimal input, allocation display, and Vendor Intel data
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
  src/utils/mathParser.ts
Due: Components

fix: S+H categories now work independently of product selection in Vendor Intel
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
Due: none

fix: Critical database schema versioning issue causing CPG tables to fail
  src/db/database.ts
Due: none

fix: S+H items now display in Vendor Intel by checking category flag
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
Due: none

fix: CPU Trends now excludes S+H categories from material cost analysis
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

fix: CPU Trends now shows S+H when explicitly filtered
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

feat: Add Owner's Pay Calculator with comprehensive compensation planning
  src/pages/cpg/LaborRoles.tsx
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.module.css
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.tsx
Due: none

feat: Add S+H distribution breakdown to CPU Trends
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

fix: Round S+H distribution values to nearest cent
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

feat: Update branding with custom leaf icons and AM favicon
  index.html
  public/assets/icons/leaf-gold.png
  public/assets/icons/leaf-green.png
  public/assets/icons/leaf-inactive.png
  public/favicon.svg
  src/components/common/LeafIcon.tsx
  src/components/layouts/CPGLayout.tsx
Due: Components

fix: Preserve owner data when inactivating/reactivating owners
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.tsx
Due: none

fix: Add data reload listeners and logging for Events/Promos features
  src/pages/cpg/tabs/EventTrackerTab.tsx
  src/pages/cpg/tabs/PromoTrackerTab.tsx
Due: none

fix: Listen for feature-preferences-updated event to reload data
  src/pages/cpg/tabs/EventTrackerTab.tsx
  src/pages/cpg/tabs/PromoTrackerTab.tsx
Due: none

fix: Centralize demo company ID configuration to prevent data mismatch
  src/config/demoConfig.ts
  src/utils/cpg/cleanupDistributorsConsole.ts
Due: none

docs: Add comprehensive Company ID management guide
  COMPANY_ID_GUIDE.md
Due: none

feat: Add Production CPU field to Promo Analysis and Distribution Center
  src/components/cpg/DistributionCalculatorForm.module.css
  src/components/cpg/DistributionCalculatorForm.tsx
  src/components/cpg/DistributionResultsDisplay.tsx
  src/components/cpg/PromoDetailsForm.tsx
  src/db/schema/cpg.schema.ts
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/services/cpg/distributionCostCalculator.service.ts
  src/services/cpg/salesPromoAnalyzer.service.ts
Due: Services, Components

fix: Prevent double-counting labor in My Products CPU display
  src/components/cpg/FinishedProductManager.tsx
Due: Components

feat: Add delete functionality to CPU Tracker invoices
  src/pages/cpg/tabs/RawMaterialsTab.tsx
Due: none

fix: Correct database table name for invoice deletion
  src/pages/cpg/CPUTracker.tsx
Due: none

feat: Add useCPGSettings hook and formatting infrastructure
  src/hooks/useCPGSettings.README.md
  src/hooks/useCPGSettings.ts
  src/pages/cpg/CPGSettings.tsx
  src/services/cpg/cpgSettings.service.ts
Due: Services

debug: Add console logging to settings save for troubleshooting
  src/pages/cpg/CPGSettings.tsx
Due: none
