Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

fix: Fix View Register timing issue with account loading
  src/pages/AccountRegisterPage.tsx
Due: none

fix: Clear timeout on component unmount to prevent redirect race
  src/pages/AccountRegisterPage.tsx
Due: none

fix: Reset notFound state when accounts are loading
  src/pages/AccountRegisterPage.tsx
Due: none

cleanup: Remove debug console logs from View Register feature
  src/components/accounts/AccountCard.tsx
  src/components/accounts/AccountList.tsx
  src/pages/AccountRegisterPage.tsx
Due: Components

feat: Add opening balance dates and member capital accounts
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/data/demoEntityConfig.ts
  src/types/wizard.types.ts
Due: Components

feat: Implement GAAP-compliant opening balance journal entries
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/utils/openingBalances.ts
Due: Components

feat: Improve COA wizard UX and fix equity accounts
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/utils/equityAccounts.ts
Due: Components

docs: Add Development Workflow SOP
  Roadmaps/DEVELOPMENT_WORKFLOW_SOP.md
Due: none

fix: Remove extra closing brace causing TypeScript error
  src/types/wizard.types.ts
Due: none

feat: Add validation UX improvements and smart date parsing
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/AccountCustomizationStep.tsx
Due: Components

fix: Add comprehensive debugging logs and fix date parsing
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/utils/wizardState.ts
Due: Components

fix: Change error to hasError prop for Input validation
  src/components/wizards/steps/AccountCustomizationStep.tsx
Due: Components

debug: Add logging to track customizationFormData flow
  src/components/wizards/ChartOfAccountsWizard.tsx
Due: Components

fix: Preserve formData when generating final customizations
  ERROR_LOG.md
  src/components/wizards/steps/AccountCustomizationStep.tsx
Due: Components

fix: Remove duplicate equity accounts and improve register UX
  src/components/accounts/AccountRegister.tsx
  src/components/wizards/steps/AccountCustomizationStep.tsx
Due: Components

fix: Add cache control headers to fix hard refresh issue
  Roadmaps/CACHING_ISSUE_ANALYSIS.md
  Roadmaps/DEVELOPMENT_WORKFLOW_SOP.md
  public/_headers
Due: none

docs: Document custom domain issue and update workflow to use direct URL
  DEPLOYMENT_DIAGNOSIS.md
  Roadmaps/CUSTOM_DOMAIN_FIX.md
  Roadmaps/DEVELOPMENT_WORKFLOW_SOP.md
Due: none

fix: Implement GAAP-compliant register columns and opening balances
  src/components/accounts/AccountRegister.tsx
  src/utils/openingBalances.ts
Due: Components

fix: Eliminate 'Continue guided setup' bug and streamline testing workflow
  Roadmaps/DEVELOPMENT_WORKFLOW_SOP.md
  src/main.tsx
  src/pages/ChartOfAccounts.tsx
Due: none

Revert "fix: Eliminate 'Continue guided setup' bug and streamline testing workflow"
  Roadmaps/DEVELOPMENT_WORKFLOW_SOP.md
  src/main.tsx
  src/pages/ChartOfAccounts.tsx
Due: none

security: Add npm audit requirement to agent memory
  CLAUDE.md
  NPM_INSTALL_CHECKLIST.md
Due: none

fix: Invoice form improvements and edit functionality
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/CPGModals.module.css
  src/components/cpg/modals/InvoiceDetailsModal.tsx
  src/pages/cpg/CPUTracker.tsx
Due: Components

feat: Add detailed CPU breakdown modal for cost transparency and debugging
  src/components/cpg/CPUDisplay.module.css
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/modals/CPUBreakdownModal.tsx
Due: Components

docs: Add archived items visibility to post-Thursday list and improve CPU breakdown help text
  docs/cpg/POST_THURSDAY_IMPROVEMENTS.md
  src/components/cpg/modals/CPUBreakdownModal.tsx
Due: Components

fix: Manual line total override not saving or being used in CPU calculations
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/CPUBreakdownModal.tsx
  src/db/schema/cpg.schema.ts
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

fix: CPUDisplay not reloading after invoice edits + disable backdrop click on breakdown modal
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/modals/CPUBreakdownModal.tsx
Due: Components

fix: CRITICAL - Separate categories in CPU calculations + UX improvements
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/db/schema/cpg.schema.ts
  src/pages/cpg/CPUTracker.tsx
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

docs: Expand hierarchical categories as #1 post-Thursday priority
  docs/cpg/POST_THURSDAY_IMPROVEMENTS.md
Due: none

feat: Add remaining Promo Tracker files and updates
  src/components/cpg/PLEntryForm.module.css
  src/components/cpg/PLEntryForm.tsx
  src/components/cpg/PromoComparison.tsx
  src/components/cpg/PromoDetailsForm.tsx
  src/components/cpg/PromoImpactSummary.tsx
  src/components/cpg/modals/MarkPromoCompleteModal.tsx
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/CPGLayout.tsx
  src/db/schema/cpg.schema.ts
  src/db/schema/standaloneFinancials.schema.ts
  src/pages/cpg/FinancialStatementEntry.module.css
  src/pages/cpg/FinancialStatementEntry.tsx
  src/pages/cpg/HistoricalAnalytics.module.css
  src/pages/cpg/HistoricalAnalytics.tsx
  src/pages/cpg/SalesPromoDecisionTool.module.css
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/ScenarioPlanning.tsx
  src/routes/index.tsx
  src/services/cpg/cpuCalculator.service.ts
  src/services/cpg/historicalAnalytics.service.ts
Due: Services, Components

feat: Add comprehensive CPG Settings page and enhance promo decision tool
  docs/cpg/POST_THURSDAY_IMPROVEMENTS.md
  src/components/core/Tooltip.module.css
  src/components/core/Tooltip.tsx
  src/components/cpg/MarginQualityBadge.module.css
  src/components/cpg/MarginQualityBadge.tsx
  src/components/cpg/PromoComparison.module.css
  src/components/cpg/PromoComparison.tsx
  src/components/cpg/PromoDetailsForm.module.css
  src/components/cpg/PromoDetailsForm.tsx
  src/components/cpg/PromoImpactSummary.module.css
  src/components/cpg/PromoImpactSummary.tsx
  src/components/layouts/CPGLayout.tsx
  src/db/database.ts
  src/db/schema/cpg.schema.ts
  src/pages/cpg/CPGSettings.module.css
  src/pages/cpg/CPGSettings.tsx
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/HistoricalAnalytics.module.css
  src/pages/cpg/HistoricalAnalytics.tsx
  src/pages/cpg/SalesPromoDecisionTool.module.css
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/reports/CPGProfitLoss.module.css
  src/pages/cpg/reports/GrossMarginReport.module.css
  src/pages/cpg/reports/GrossMarginReport.tsx
  src/routes/index.tsx
  src/services/cpg/cpgSettings.service.ts
  src/services/cpg/salesPromoAnalyzer.service.ts
Due: Services, Components

feat: Enhance Distribution Center UI with smart cost display and navigation
  src/components/cpg/DistributorManager.module.css
  src/components/cpg/DistributorManager.tsx
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/Distribution.tsx
  src/pages/cpg/HistoricalAnalytics.tsx
Due: Components

fix: UX improvements for flexible distributor fee structure
  src/components/cpg/DistributionCalculatorForm.module.css
  src/components/cpg/DistributionCalculatorForm.tsx
  src/components/cpg/DistributionResultsDisplay.module.css
  src/components/cpg/DistributionResultsDisplay.tsx
  src/components/cpg/DistributorManager.module.css
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/DistributorProfileForm.module.css
  src/components/cpg/DistributorProfileForm.tsx
  src/components/cpg/DistributorSelector.tsx
  src/components/forms/Select.module.css
  src/components/layouts/CPGLayout.tsx
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/db/schema/cpg.schema.ts
  src/main.tsx
  src/pages/cpg/DistributionCostAnalyzer.module.css
  src/pages/cpg/DistributionCostAnalyzer.tsx
  src/routes/index.tsx
  src/services/cpg/cpgReporting.service.ts
  src/services/cpg/distributionCostCalculator.service.ts
  src/services/cpg/historicalAnalytics.service.ts
  src/services/cpg/salesPromoAnalyzer.service.ts
  src/services/cpg/scenarioPlanning.service.ts
  src/utils/cpg/cleanupDistributors.ts
  src/utils/cpg/cleanupDistributorsConsole.ts
  src/utils/devReset.ts
  src/utils/openingBalances.ts
Due: Services, Components

fix: UX improvements and standardize Add Distributor across all locations
  src/components/cpg/DistributionCalculatorForm.module.css
  src/components/cpg/DistributorManager.module.css
  src/components/cpg/DistributorManager.tsx
  src/pages/cpg/DistributionCostAnalyzer.module.css
  src/pages/cpg/DistributionCostAnalyzer.tsx
Due: Components

feat: Add customizable Quick Adds and enhance distributor management UX
  src/components/cpg/DistributionCalculatorForm.module.css
  src/components/cpg/DistributionCalculatorForm.tsx
  src/components/cpg/DistributionResultsDisplay.module.css
  src/components/cpg/DistributionResultsDisplay.tsx
  src/components/cpg/DistributorProfileForm.module.css
  src/components/cpg/DistributorProfileForm.tsx
  src/components/cpg/DistributorSelector.tsx
  src/components/forms/Checkbox.module.css
  src/components/layouts/CPGLayout.tsx
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/Distribution.tsx
  src/pages/cpg/DistributionCostAnalyzer.tsx
  src/services/cpg/distributionCostCalculator.service.ts
Due: Services, Components

fix: Shorten distributor manager messages for better scannability
  src/components/cpg/DistributorManager.tsx
Due: Components

feat: Enhance CPU Tracker with tab navigation, filters, and product comparison
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/SavedScenarios.tsx
  src/components/cpg/modals/CPGModals.module.css
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/pages/cpg/CPUTracker.module.css
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/Distribution.tsx
  src/pages/cpg/HistoricalAnalytics.module.css
  src/pages/cpg/HistoricalAnalytics.tsx
Due: Components

feat: Complete Product Costs tab redesign with 13 comprehensive UX enhancements
  package-lock.json
  package.json
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/CPGModals.module.css
  src/components/cpg/modals/CPUBreakdownModal.tsx
  src/components/cpg/modals/InvoiceDetailsModal.tsx
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/components/forms/Input.module.css
  src/db/database.ts
  src/db/schema/cpg.schema.ts
  src/pages/cpg/CPUTracker.module.css
  src/pages/cpg/CPUTracker.tsx
  src/services/cpg/cpuCalculator.service.ts
  src/utils/validation.ts
Due: Services, Components
