Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

feat: Update scenario inputs to light green and restructure Impact Summary
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

feat: Improve Impact Summary with percentage changes and totals row
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

refactor: Remove redundant Total Cost Impact line and style totals row
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

style: Match Filter section styling to Cost Intelligence tab
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
Due: none

style: Match scenario input boxes to filter dropdown styling
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
Due: none

feat: Add Additional Labor option to What-If Calculator
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

feat: Replace Description with Role dropdown in Promo Analysis
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: Components

feat: Replace Description with Role dropdown in Events Analysis
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: none

fix: Correct LaborRoleService instantiation and method calls
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: Components

fix: Improve labor integration UX across all analysis tools
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: Components

fix: Additional labor distribution and promo validation
  src/db/schema/cpg.schema.ts
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
  src/services/cpg/salesPromoAnalyzer.service.ts
  src/utils/validation.ts
Due: Services

feat: Add Labor Reports tab with three comprehensive reports
  src/pages/cpg/LaborRoles.tsx
  src/pages/cpg/tabs/labor/LaborReportsTab.module.css
  src/pages/cpg/tabs/labor/LaborReportsTab.tsx
Due: none

feat: Add user feature preferences system (part 1)
  src/db/database.ts
  src/db/schema/userFeaturePreferences.schema.ts
  src/services/userFeaturePreferences.service.ts
Due: Services

feat: Complete progressive disclosure feature system
  src/components/cpg/FinancialWebGraph.module.css
  src/components/cpg/FinancialWebGraph.tsx
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPGSettings.module.css
  src/pages/cpg/CPGSettings.tsx
Due: Components

chore: Add dev:3007 script for clean testing environment
  package.json
Due: none

fix: Progressive disclosure UI improvements and functionality
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPGSettings.module.css
  src/pages/cpg/CPGSettings.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services

fix: Root cause fixes for progressive disclosure feature
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPGSettings.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services

fix: Add API domain to CSP connect-src for authentication
  vite.config.ts
Due: none

fix: Critical fixes for progressive disclosure activation
  src/components/cpg/FinancialWebGraph.module.css
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPGSettings.tsx
Due: Components

fix: Complete event flow for feature activation across all components
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPGSettings.tsx
Due: Components

fix: Add userFeaturePrefs dependency and comprehensive logging
  src/pages/cpg/CPGDashboard.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services

fix: Event node navigation and add debugging for events data
  src/pages/cpg/CPGDashboard.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services

fix: Synchronize feature activation across dashboard, sidebar, and settings
  src/components/cpg/FinancialWebGraph.tsx
  src/pages/cpg/CPGDashboard.tsx
Due: Components

debug: Add comprehensive logging to trace feature activation flow
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPGSettings.tsx
Due: Components

debug: Add detailed logging to toggleFeature service method
  src/services/userFeaturePreferences.service.ts
Due: Services

fix: Resolve race condition in feature activation synchronization
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGDashboard.tsx
  src/pages/cpg/CPGSettings.tsx
  src/services/userFeaturePreferences.service.ts
Due: Services, Components

debug: Add logging to track Settings state initialization
  src/pages/cpg/CPGSettings.tsx
Due: none

debug: Add raw database query to Settings preferences loading
  src/pages/cpg/CPGSettings.tsx
Due: none

fix: Handle duplicate preference records by using most recent
  src/services/userFeaturePreferences.service.ts
Due: Services

fix: Auto-reload on chunk loading errors after deployment
  src/components/error/ErrorBoundary.tsx
Due: Components

fix: Events node navigation and add debugging for dollar display
  src/pages/cpg/CPGDashboard.tsx
Due: none

feat: Add promo breakdown tooltip and require promo dates
  src/components/cpg/FinancialWebGraph.tsx
  src/components/cpg/PromoDetailsForm.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services, Components

Add comprehensive backup and sync roadmap for zero-knowledge data sovereignty
  Roadmaps/ROADMAP_BACKUP_AND_SYNC.md
Due: none

feat: Complete Phase 1 - Backup & Sync Foundation (Security & Key Management)
  src/db/database.ts
  src/db/schema/backupAudit.schema.ts
  src/db/schema/users.schema.ts
  src/services/audit/AuditLogger.ts
  src/services/audit/index.ts
  src/services/audit/types.ts
  src/services/backup/BackupEncryption.test.ts
  src/services/backup/BackupEncryption.ts
  src/services/backup/IntegrityVerification.test.ts
  src/services/backup/IntegrityVerification.ts
  src/services/backup/KeyRotationService.test.ts
  src/services/backup/KeyRotationService.ts
  src/services/backup/RoleFilterService.test.ts
  src/services/backup/RoleFilterService.ts
  src/services/backup/index.ts
  src/services/crypto/KeyDerivation.mock.ts
  src/services/crypto/KeyDerivation.test.ts
  src/services/crypto/KeyDerivation.ts
  src/services/crypto/index.ts
  src/test/setup.ts
  src/types/database.types.ts
Due: Services

feat: Complete Phase 2 - Local Filesystem Backup (Primary Safety Net)
  src/components/onboarding/BackupLocationSetup.module.css
  src/components/onboarding/BackupLocationSetup.test.tsx
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/settings/DataSafetyPanel.module.css
  src/components/settings/DataSafetyPanel.test.tsx
  src/components/settings/DataSafetyPanel.tsx
  src/components/settings/index.ts
  src/db/schema/backupPreferences.schema.ts
  src/pages/Settings.tsx
  src/services/backup/BackupFallback.test.ts
  src/services/backup/BackupFallback.ts
  src/services/backup/BackupRestoration.test.ts
  src/services/backup/BackupRestoration.ts
  src/services/backup/BackupScheduler.test.ts
  src/services/backup/BackupScheduler.ts
  src/services/backup/BackupVersioning.test.ts
  src/services/backup/BackupVersioning.ts
  src/services/backup/FileSystemBackup.test.ts
  src/services/backup/FileSystemBackup.ts
  src/services/backup/index.ts
  src/store/database.ts
  src/types/fileSystemAccess.d.ts
Due: Services, Store, Components

feat: Chunk 3A - Restoration Token Database Schema (Phase 3)
  src/db/schema/restorationTokens.schema.test.ts
  src/db/schema/restorationTokens.schema.ts
  src/store/database.ts
Due: Store

feat: Chunk 3B - Token Generation Service (Phase 3)
  src/services/backup/RestorationTokenService.test.ts
  src/services/backup/RestorationTokenService.ts
  src/services/backup/index.ts
Due: Services

feat: Chunk 3C - S3 Bucket Configuration (Phase 3)
  .env.backup.example
  docs/S3_BACKUP_STORAGE_SETUP.md
  infrastructure/terraform/s3-backup-storage.tf
  src/config/s3BackupConfig.ts
Due: none

feat: Chunk 3D - S3 Backup Upload Service (Phase 3)
  src/services/backup/S3BackupUpload.test.ts
  src/services/backup/S3BackupUpload.ts
  src/services/backup/index.ts
Due: Services

feat: Chunk 3E - Email Template Design (Phase 3)
  src/services/backup/EmailTemplate.test.ts
  src/services/backup/EmailTemplate.ts
  src/services/backup/index.ts
Due: Services

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
