Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

feat: Add bookkeeping suite signup tracking
  audacious_money_backend/src/db/migrations/010_bookkeeping_signups.sql
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/routes/auth.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

feat: Add welcome email confirmations for home and bookkeeping signups
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/services/email.service.ts
Due: none

feat: Create unified email signups table with tag filtering
  audacious_money_backend/src/routes/admin.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

debug: Add console logging for all-signups endpoint
  src/pages/admin/AdminDashboard.tsx
Due: none

debug: Add backend logging for all-signups endpoint
  audacious_money_backend/src/routes/admin.ts
Due: none

fix: Force Vercel rebuild with correct unified table view
  src/pages/admin/AdminDashboard.tsx
Due: none

feat: Add actions dropdown for email signups (Edit, Unsubscribe, Delete)
  audacious_money_backend/src/routes/admin.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

chore: Force Vercel cache clear - bump version and trigger rebuild
  .vercel-deploy-trigger
  package.json
  src/pages/admin/AdminDashboard.tsx
Due: none

Rename Bookkeeping Suite to Numbers Suite and add CPG link to welcome emails
  audacious_money_backend/src/db/migrations/001_initial_schema.sql
  audacious_money_backend/src/services/email.service.ts
Due: none

Make Product Costing Tool link more subtle in welcome emails
  audacious_money_backend/src/services/email.service.ts
Due: none

fix: Allow DELETE requests to include request body for account deletion
  src/services/api.ts
  src/services/billing.api.ts
Due: Services

fix: Change account deletion email heading to royal purple
  audacious_money_backend/src/services/email.service.ts
Due: none

fix: Replace all blue colors with royal purple in email templates
  audacious_money_backend/src/services/email.service.ts
Due: none

feat: Add comprehensive charity management system
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/db/migrations/011_charity_management_system.sql
  audacious_money_backend/src/routes/charities.ts
  src/components/admin/charity/CharityAnalyticsTab.module.css
  src/components/admin/charity/CharityAnalyticsTab.tsx
  src/components/admin/charity/CharityManagementTab.module.css
  src/components/admin/charity/CharityManagementTab.tsx
  src/components/admin/charity/DistributionsTab.module.css
  src/components/admin/charity/DistributionsTab.tsx
  src/components/admin/charity/PhaseTransitionsTab.module.css
  src/components/admin/charity/PhaseTransitionsTab.tsx
  src/pages/admin/AdminCharityDashboard.module.css
  src/pages/admin/AdminCharityDashboard.tsx
  src/pages/admin/AdminDashboard.tsx
  src/routes/index.tsx
  src/services/charities.api.ts
Due: Services, Components

fix: Prevent sidebar collapse when dev tools open and on wide content
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/MainLayout.css
  src/components/layouts/MainLayout.tsx
  src/components/layouts/Sidebar.css
  src/styles/index.css
Due: Components

fix: Move admin charity endpoints to correct route file
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/routes/charities.ts
Due: none

fix: Update API client to check for admin session token
  src/services/api.ts
Due: Services

fix: Prevent timezone shift in promo dates between Decision Tool and Tracker
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: none

fix: Improve charity modal UX - auto-add https:// and prevent outside clicks
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

feat: Add edit charity functionality to admin dashboard
  src/components/admin/charity/CharityManagementTab.module.css
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

feat: Improve Recipe popup with formula display and auto-formatting
  src/components/cpg/RecipeBuilder.tsx
Due: Components

fix: Improve charity edit - show all data, display order column, better form UX
  src/components/admin/charity/CharityManagementTab.module.css
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

Revert: Rollback charity edit improvements - restoring working state
  src/components/admin/charity/CharityManagementTab.module.css
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

feat: Add display order column to charity table
  src/components/admin/charity/CharityManagementTab.module.css
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

fix: Fetch full charity data when editing - show all existing fields
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

Fix charity display order and add Total Due column
  audacious_money_backend/src/db/migrations/012_add_display_order_to_charity_analytics.sql
  audacious_money_backend/src/routes/admin.ts
  src/components/admin/charity/CharityManagementTab.module.css
  src/components/admin/charity/CharityManagementTab.tsx
Due: Components

fix: Correct labor role creation in Save as Product feature
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

fix: Save as Product UI and data issues
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

chore: Remove abandoned Vercel deployment workflows
  .github/workflows/preview-deploy.yml
  .github/workflows/production-deploy.yml
  .github/workflows/staging-deploy.yml
  vercel.json
Due: none

fix: My Products link and CPU Tracker sorting error
  src/components/cpg/CPUDisplay.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: Components

fix: Enable product swapping in drag-and-drop on My Products page
  src/components/cpg/FinishedProductManager.tsx
Due: Components

chore: Update ERROR_LOG with recent debugging and charity UI improvements
  ERROR_LOG.md
  src/components/charity/CharityCard.tsx
  src/components/charity/CharitySelector.module.css
  src/components/charity/CharitySelector.tsx
  src/pages/checkout/CheckoutSuccess.tsx
  src/pages/cpg/CPGDashboard.tsx
  src/store/charities.ts
  src/types/database.types.ts
Due: Store, Components

feat: Complete post-payment onboarding flow (charity + product setup)
  src/components/banners/ProductSetupBanner.module.css
  src/components/banners/ProductSetupBanner.tsx
  src/components/onboarding/CPGWorksheetWizard.module.css
  src/components/onboarding/CPGWorksheetWizard.tsx
  src/components/onboarding/QuickProductSetup.module.css
  src/components/onboarding/QuickProductSetup.tsx
  src/components/settings/AccountManagementPanel.module.css
  src/components/settings/AccountManagementPanel.tsx
  src/pages/checkout/CheckoutSuccess.module.css
  src/services/users.api.ts
  src/types/cpg-quickstart.types.ts
Due: Services, Components

fix: Enable product swapping in drag-and-drop on CPU Tracker Product Costs tab
  src/components/cpg/CPUDisplay.tsx
Due: Components

docs: Add comprehensive Zero-Knowledge Support System roadmap
  Roadmaps/SUPPORT_SYSTEM_ROADMAP.md
Due: none

docs: Update Support System roadmap - remove AI, fix timelines, update UI placement
  Roadmaps/SUPPORT_SYSTEM_ROADMAP.md
Due: none

fix: Make sidebar sticky so it stays visible when scrolling
  src/components/layouts/CPGLayout.module.css
Due: Components

style: Change password visibility icon to bright purple when active
  src/pages/auth/Login.tsx
  src/pages/auth/Signup.module.css
  src/pages/auth/Signup.tsx
Due: none

feat: Improve charity selector UX in checkout flow
  src/components/charity/CharityCard.module.css
  src/components/charity/CharitySelector.module.css
  src/pages/checkout/CheckoutSuccess.tsx
Due: Components

feat: Center charity selector title in circle and remove category tags
  src/components/charity/CharityCard.module.css
  src/components/charity/CharityCard.tsx
  src/components/charity/CharitySelector.module.css
  src/components/charity/CharitySelector.tsx
Due: Components
