Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

fix: Correct API response parsing and datetime format in workshop edit
  src/pages/admin/WorkshopFormPage.tsx
Due: none

feat: Add workshop signup URL display and slug uniqueness validation
  audacious_money_backend/src/routes/workshops.ts
  src/pages/admin/WorkshopFormPage.tsx
Due: none

fix: Add /api prefix to workshop public endpoints and style Copy URL button
  src/pages/admin/WorkshopsPage.module.css
  src/pages/admin/WorkshopsPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Update workshop signup URLs to use app.audacious.money subdomain
  src/pages/admin/WorkshopFormPage.tsx
  src/pages/admin/WorkshopsPage.tsx
Due: none

feat: Improve workshop management and signup experience
  audacious_money_backend/src/db/migrations/020_add_workshop_name_and_fix_status.sql
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/utils/validation-workshops.ts
  src/pages/admin/WorkshopFormPage.tsx
  src/pages/workshops/WorkshopSignupPage.module.css
  src/pages/workshops/WorkshopSignupPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Resolve workshop datetime timezone conversion issues
  src/pages/admin/WorkshopFormPage.tsx
  src/pages/admin/WorkshopsPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Improve workshop date display and status checking
  src/pages/admin/WorkshopFormPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Remove timezone-naive deadline comparisons causing incorrect workshop status
  src/pages/admin/WorkshopsPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Implement timezone-aware deadline comparisons for workshops
  package-lock.json
  package.json
  src/pages/admin/WorkshopsPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Unwrap API response data structure for workshop endpoints
  src/pages/workshops/WorkshopSignupPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Correct date-fns-tz import to use toZonedTime instead of utcToZonedTime
  src/pages/admin/WorkshopsPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Resolve workshop signup UX issues and authentication error
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/utils/validation-workshops.ts
  src/pages/workshops/WorkshopSignupPage.module.css
  src/pages/workshops/WorkshopSignupPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Widen workshop signup charity selector and fix enrollment validation
  audacious_money_backend/src/routes/workshops.ts
  src/pages/workshops/WorkshopSignupPage.module.css
Due: none

fix: Add timezone-aware deadline validation to backend workshop enrollment
  audacious_money_backend/package-lock.json
  audacious_money_backend/package.json
  audacious_money_backend/src/utils/workshopAccess.ts
Due: none

fix: Install bcrypt and JWT dependencies for workshop signup
  audacious_money_backend/package-lock.json
  audacious_money_backend/package.json
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Increase workshop signup rate limit from 5 to 30 per hour for testing
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Add detailed error logging to workshop signup endpoint
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Use correct schema for user creation in workshop signup
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Access nested data property in workshop signup response
  src/pages/workshops/WorkshopSignupPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Add duplicate enrollment check before workshop full check
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Resolve workshop user authentication and thank you page issues
  ORCHESTRATION-README.md
  audacious_money_backend/src/routes/workshops.ts
  src/pages/auth/Login.tsx
  src/pages/workshops/WorkshopThankYouPage.tsx
Due: none

fix: Complete workshop thank you page and welcome email implementation
  audacious_money_backend/run-cleanup.mjs
  audacious_money_backend/src/routes/workshops.ts
  src/pages/workshops/WorkshopThankYouPage.tsx
  src/services/workshops.api.ts
Due: Services

feat: Implement complete workshop signup flow with worksheet and countdown
  audacious_money_backend/src/routes/workshops.ts
  src/pages/auth/Login.tsx
  src/pages/workshops/WorkshopCountdownPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
  src/pages/workshops/WorkshopWorksheetPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Assign CPG product to workshop users and handle access grants
  audacious_money_backend/migrations/add_access_granted_to_workshop_enrollments.sql
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Add worksheet API endpoints and improve login flow debugging
  audacious_money_backend/src/routes/workshops.ts
  src/pages/auth/Login.tsx
Due: none

fix: Add comprehensive logging to worksheet page for debugging blank page issue
  src/pages/workshops/WorkshopWorksheetPage.tsx
Due: none

fix: Make worksheet and countdown routes public for debugging blank page issue
  src/routes/index.tsx
Due: none

fix: Move /my-enrollment route before /:id to fix 403 error
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Replace custom worksheet with ComprehensiveWorksheet component
  audacious_money_backend/src/routes/workshops.ts
  src/pages/workshops/WorkshopWorksheetPage.module.css
  src/pages/workshops/WorkshopWorksheetPage.tsx
  src/services/workshops.api.ts
Due: Services

fix: Soften worksheet background for better UX
  src/pages/workshops/WorkshopWorksheetPage.module.css
Due: none

fix: Fix 403 error after worksheet completion
  audacious_money_backend/src/routes/workshops.ts
  src/pages/workshops/WorkshopCountdownPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Remove immediate redirect from countdown page - let timer handle it
  src/pages/workshops/WorkshopCountdownPage.tsx
Due: none

fix: Implement proper timezone-aware datetime handling for workshops
  src/pages/admin/WorkshopFormPage.tsx
Due: none

fix: Accept timezone-aware ISO 8601 format in workshop validation schemas
  audacious_money_backend/src/utils/validation-workshops.ts
Due: none

fix: Properly convert timezone-aware datetimes for display in workshop pages
  src/pages/workshops/WorkshopCountdownPage.tsx
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Update FAQ section on countdown page
  src/pages/workshops/WorkshopCountdownPage.tsx
Due: none

feat: Add three missing features to workshop worksheet from main CPG system
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Wrap invoice item row and warning in parent div for valid JSX
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Filter out distribution categories from product recipe dropdowns
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components
