Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

fix: Update invoice category selection in single state update
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Copy exact Personal Item and S+H behavior from working AddInvoiceModal
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

Update workshop email sequence with improvements
  CPG/docs/audacious-money-email-sequence.md
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/services/email.service.ts
Due: none

fix: Update cost field in single state update for Personal/S+H items
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Calculate line_total for Personal Item and S+H cost entries
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Ensure Personal Items and S+H have unit_of_measurement for data import
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Handle Personal Items and S+H in worksheetImporter
  src/services/cpg/worksheetImporter.service.ts
Due: Services

fix: Use proper temp ID for Shipping & Handling category
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/services/cpg/worksheetImporter.service.ts
Due: Services, Components

fix: Skip category validation for Personal Items in workshop worksheet
  src/services/cpg/worksheetImporter.service.ts
Due: Services

Make login link clearer in workshop welcome email
  CPG/docs/audacious-money-email-sequence.md
  audacious_money_backend/src/services/email.service.ts
Due: none

feat: Add automatic workshop status updates based on registration deadline
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Restore automatic workshop status updates with proper implementation
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Correct timezone comparison bug in workshop deadline checking
  audacious_money_backend/src/utils/workshopAccess.ts
Due: none

fix: Make delete actually delete workshops and hide archived from list
  audacious_money_backend/src/routes/workshops.ts
Due: none

fix: Correct API paths from /admin/workshops to /api/workshops
  src/services/workshops.api.ts
Due: Services

fix: Unwrap API response data for enrollment endpoints
  src/services/workshops.api.ts
Due: Services

fix: Add null check for enrollment.status in WorkshopEnrollmentsPage
  src/pages/admin/WorkshopEnrollmentsPage.tsx
Due: none

feat: Implement Postmark email tracking for workshop emails
  audacious_money_backend/src/db/migrations/021_email_tracking.sql
  audacious_money_backend/src/routes/webhooks.ts
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/services/email.service.ts
  src/components/admin/workshops/EmailPreviewPanel.tsx
  src/components/admin/workshops/EmailTemplateEditor.tsx
  src/components/admin/workshops/EmailTemplateSection.module.css
  src/components/admin/workshops/EmailTemplateSection.tsx
  src/pages/admin/WorkshopEnrollmentsPage.module.css
  src/pages/admin/WorkshopEnrollmentsPage.tsx
  src/pages/admin/WorkshopFormPage.tsx
  src/services/workshops.api.ts
  src/utils/emailTemplates.ts
Due: Services, Components

feat: Update email templates with real content and add scheduling schema
  audacious_money_backend/src/db/migrations/022_add_email_schedule_config.sql
  src/utils/emailTemplates.ts
Due: none

feat: Add email scheduling controls and fix template UI layout
  audacious_money_backend/src/routes/webhooks.ts
  src/components/admin/workshops/EmailTemplateSection.module.css
  src/components/admin/workshops/EmailTemplateSection.tsx
  src/pages/admin/WorkshopFormPage.tsx
Due: Components

fix: Make email template section full-width for better UX
  src/components/admin/workshops/EmailTemplateSection.module.css
  src/pages/admin/WorkshopFormPage.module.css
  src/pages/admin/WorkshopFormPage.tsx
Due: Components

refactor: Move template tags to dropdown and remove sidebar from email editor
  src/components/admin/workshops/EmailTemplateEditor.module.css
  src/components/admin/workshops/EmailTemplateEditor.tsx
Due: Components

feat: Create EmailPreviewPanel and remove duplicate preview
  src/components/admin/workshops/EmailPreviewPanel.module.css
  src/components/admin/workshops/EmailPreviewPanel.tsx
  src/components/admin/workshops/EmailTemplateEditor.tsx
Due: Components

feat: Add special formatting options for email character
  src/components/admin/workshops/EmailTemplateEditor.module.css
  src/components/admin/workshops/EmailTemplateEditor.tsx
Due: Components

feat: Apply Audacious Money branding and create shared account pages
  index.html
  package-lock.json
  package.json
  public/fonts/Tangerine-OFL-LICENSE.txt
  src/components/core/Button.module.css
  src/components/dashboard/MetricCard.module.css
  src/components/dashboard/QuickActions.module.css
  src/components/dashboard/RecentTransactions.module.css
  src/components/forms/Label.module.css
  src/components/layouts/AccountLayout.module.css
  src/components/layouts/AccountLayout.tsx
  src/components/layouts/CPGLayout.tsx
  src/components/layouts/Header.css
  src/components/layouts/Header.tsx
  src/components/layouts/MainLayout.css
  src/components/layouts/MainLayout.tsx
  src/components/layouts/Sidebar.css
  src/components/layouts/Sidebar.tsx
  src/components/modals/Modal.module.css
  src/components/modals/SupportModal.tsx
  src/components/wizards/ChartOfAccountsWizard.module.css
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/CompletionStep.module.css
  src/components/wizards/steps/ReviewStep.module.css
  src/components/wizards/steps/TemplateSelectionStep.module.css
  src/components/wizards/steps/WelcomeStep.module.css
  src/pages/Billing.tsx
  src/pages/Dashboard.module.css
  src/pages/Dashboard.tsx
  src/pages/Settings.tsx
  src/routes/index.tsx
  src/services/ecosystemGraph.service.ts
  src/styles/fonts.css
  src/styles/index.css
Due: Services, Components

feat: Enhance Chart of Accounts wizard with COGS, compact UI, and bug fixes
  src/components/modals/Modal.module.css
  src/components/wizards/ChartOfAccountsWizard.module.css
  src/components/wizards/ChartOfAccountsWizard.tsx
  src/components/wizards/steps/AccountCustomizationStep.module.css
  src/components/wizards/steps/AccountCustomizationStep.tsx
  src/components/wizards/steps/ReviewStep.tsx
  src/components/wizards/steps/TemplateSelectionStep.module.css
  src/components/wizards/steps/TemplateSelectionStep.tsx
  src/components/wizards/steps/WelcomeStep.module.css
  src/components/wizards/steps/WelcomeStep.tsx
  src/pages/ChartOfAccounts.tsx
Due: Components

feat: Enhance Other Materials node with breakdown tooltip and category filter
  src/components/cpg/FinancialWebGraph.tsx
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
  src/services/cpg/financialWebData.service.ts
Due: Services, Components

fix: Fix vendor/component list scroll cutoff in VendorIntelTab
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
Due: none

fix: Prioritize URL tab parameter over pinned default in CPG Distribution
  src/pages/cpg/Distribution.tsx
Due: none

fix: Remove stale fallback values when selecting products in distribution calculator
  src/components/cpg/DistributionCalculatorForm.tsx
Due: Components

fix: Remove horizontal scroll from Calculation History Summary table
  src/pages/cpg/Distribution.module.css
Due: none

fix: Make Calculation History table more compact to fit all columns
  src/pages/cpg/Distribution.module.css
Due: none

fix: Remove auto-persist form state, add Restore Last Invoice button
  src/components/cpg/DistributionCalculatorForm.tsx
  src/pages/cpg/Distribution.tsx
Due: Components

feat: Add autosave to workshop worksheet to prevent data loss
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

feat: Allow registration deadline after workshop start for replay viewers
  audacious_money_backend/src/utils/validation-workshops.ts
  src/pages/admin/WorkshopFormPage.module.css
  src/pages/admin/WorkshopFormPage.tsx
Due: none

feat: Add Admin Calendar with checklist management system
  Roadmaps/ROADMAP_CHECKLIST_CALENDAR.md
  src/db/database.ts
  src/db/schema/checklistCalendar.schema.ts
  src/features/checklistCalendar/components/CalendarDay.module.css
  src/features/checklistCalendar/components/CalendarDay.tsx
  src/features/checklistCalendar/components/CalendarMonth.module.css
  src/features/checklistCalendar/components/CalendarMonth.tsx
  src/features/checklistCalendar/components/ChecklistManager/ChecklistManager.module.css
  src/features/checklistCalendar/components/ChecklistManager/ChecklistManager.tsx
  src/features/checklistCalendar/components/ChecklistManager/index.ts
  src/features/checklistCalendar/components/DayDetailPanel.module.css
  src/features/checklistCalendar/components/DayDetailPanel.tsx
  src/features/checklistCalendar/components/SetupWizard/SetupWizard.module.css
  src/features/checklistCalendar/components/SetupWizard/SetupWizard.tsx
  src/features/checklistCalendar/components/SetupWizard/index.ts
  src/features/checklistCalendar/components/TaskCard.module.css
  src/features/checklistCalendar/components/TaskCard.tsx
  src/features/checklistCalendar/components/TaskDetailModal.module.css
  src/features/checklistCalendar/components/TaskDetailModal.tsx
  src/features/checklistCalendar/components/index.ts
  src/features/checklistCalendar/hooks/index.ts
  src/features/checklistCalendar/hooks/useCalendar.ts
  src/features/checklistCalendar/index.ts
  src/features/checklistCalendar/pages/AdminCalendarPage.module.css
  src/features/checklistCalendar/pages/AdminCalendarPage.tsx
  src/features/checklistCalendar/pages/index.ts
  src/features/checklistCalendar/services/CalendarService.ts
  src/features/checklistCalendar/services/ChecklistService.ts
  src/features/checklistCalendar/services/CommentService.ts
  src/features/checklistCalendar/services/CompletionService.ts
  src/features/checklistCalendar/services/PreferencesService.ts
  src/features/checklistCalendar/services/TaskService.ts
  src/features/checklistCalendar/services/index.ts
  src/features/checklistCalendar/utils/index.ts
  src/features/checklistCalendar/utils/recurrence.test.ts
  src/features/checklistCalendar/utils/recurrence.ts
  src/pages/Checklist.tsx
Due: none

fix: Improve worksheet data import feedback and validation
  src/pages/cpg/CPGDashboard.tsx
  src/pages/workshops/WorkshopCountdownPage.tsx
  src/pages/workshops/WorkshopWorksheetPage.tsx
  src/services/cpg/worksheetImporter.service.ts
Due: Services

fix: Schedule all workshop emails on signup, not just welcome email
  audacious_money_backend/src/routes/workshops.ts
Due: none

feat: Support custom email templates in workshop emails
  audacious_money_backend/src/routes/workshops.ts
  audacious_money_backend/src/services/email.service.ts
Due: none
