Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

feat: Chunk 3F - Email Scheduling Service (Phase 3)
  src/services/backup/EmailSchedulingService.test.ts
  src/services/backup/EmailSchedulingService.ts
  src/services/backup/index.ts
Due: Services

feat: Add Email Backup Panel UI (Chunk 3G)
  src/components/settings/EmailBackupPanel.module.css
  src/components/settings/EmailBackupPanel.test.tsx
  src/components/settings/EmailBackupPanel.tsx
  src/components/settings/index.ts
Due: Components

feat: Add Restoration Link Handler (Chunk 3H)
  src/pages/RestorePage.module.css
  src/pages/RestorePage.test.tsx
  src/pages/RestorePage.tsx
Due: none

fix: Add test isolation for RestorePage rate limiting
  src/pages/RestorePage.test.tsx
  src/pages/RestorePage.tsx
Due: none

feat: Implement Chunk 3I - Email Backup Restoration Flow
  src/pages/RestorePage.tsx
  src/services/backup/EmailBackupRestoration.ts
  src/services/backup/S3BackupUpload.ts
Due: Services

feat: Add RestoreSuccessPage celebration component
  src/pages/RestoreSuccessPage.module.css
  src/pages/RestoreSuccessPage.test.tsx
  src/pages/RestoreSuccessPage.tsx
Due: none

feat: Implement Chunk 4A - Sync Configuration & Types Foundation
  src/config/syncConfig.test.ts
  src/config/syncConfig.ts
Due: none

feat: Complete Phase 4, Chunk 4B - WebSocket Sync Client
  src/services/sync/SyncClient.test.ts
  src/services/sync/SyncClient.ts
Due: Services

feat: Complete Phase 4, Chunk 4C - HMAC Signature Service
  src/services/sync/SyncSignature.test.ts
  src/services/sync/SyncSignature.ts
Due: Services

feat: Complete Phase 4, Chunk 4D - Sync Queue Manager
  src/services/sync/SyncQueue.test.ts
  src/services/sync/SyncQueue.ts
Due: Services

fix: Add missing ID field to CPG settings and make logo clickable
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/CPGLayout.tsx
  src/db/schema/cpg.schema.ts
  src/services/cpg/cpgSettings.service.ts
Due: Services, Components

feat(sync): Add SyncSettingsPanel UI component (Phase 4, Chunk 4E)
  src/components/settings/SyncSettingsPanel.module.css
  src/components/settings/SyncSettingsPanel.test.tsx
  src/components/settings/SyncSettingsPanel.tsx
  src/components/settings/index.ts
Due: Components

feat(sync): Add CRDT conflict resolution service (Phase 4, Chunk 4F)
  src/services/sync/SyncCRDT.test.ts
  src/services/sync/SyncCRDT.ts
  src/services/sync/index.ts
Due: Services

feat(sync): Add Sync/Backup Coordination service (Phase 4, Chunk 4G)
  src/services/sync/SyncBackupCoordinator.test.ts
  src/services/sync/SyncBackupCoordinator.ts
  src/services/sync/index.ts
Due: Services

feat: Add tab pinning infrastructure and implement on CPU Tracker
  src/components/common/PinIcon.module.css
  src/components/common/PinIcon.tsx
  src/db/database.ts
  src/db/schema/tabPreferences.schema.ts
  src/hooks/useTabPinning.ts
  src/pages/cpg/CPUTracker.module.css
  src/pages/cpg/CPUTracker.tsx
  src/services/tabPreferences.service.ts
Due: Services, Components

feat(sync): Add Rate Limiting & DoS Protection service (Phase 4, Chunk 4H)
  src/services/sync/SyncRateLimiter.test.ts
  src/services/sync/SyncRateLimiter.ts
  src/services/sync/index.ts
Due: Services

docs(sync): Add comprehensive self-hosted relay documentation (Phase 4, Chunk 4I)
  docs/SELF_HOSTED_SYNC_RELAY.md
Due: none

test(sync): Add integration tests and performance benchmarks (Phase 4, Chunk 4J)
  src/services/sync/integration.test.ts
  src/services/sync/performance.bench.ts
Due: Services

feat: Apply tab pinning to 4 CPG pages (checkpoint)
  src/db/schema/tabPreferences.schema.ts
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/Distribution.tsx
  src/pages/cpg/LaborRoles.module.css
  src/pages/cpg/LaborRoles.tsx
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
Due: none

feat: Phase 5 (Tasks 5.1-5.2) - Cross-Device Restoration Foundation
  CUsersAdmingraceful_bookssrcpagesRestoreSuccessPage.module.css
  CUsersAdmingraceful_bookssrcpagesRestoreSuccessPage.tsx
  CUsersAdmingraceful_bookssrcservicesbackupEmailBackupRestoration.ts
  setup-cpg-demo-full.html
  setup-cpg-demo-session.js
  src/components/restore/RestorationOptionsScreen.module.css
  src/components/restore/RestorationOptionsScreen.test.tsx
  src/components/restore/RestorationOptionsScreen.tsx
  src/pages/cpg/LaborRoles.module.css
  src/pages/cpg/LaborRoles.tsx
  src/services/startup/DeviceDetection.test.ts
  src/services/startup/DeviceDetection.ts
  src/store/database.ts
Due: Services, Store, Components

feat: Phase 5 Task 5.3 - Email Link Restoration Flow
  src/components/restore/EmailLinkRestore.module.css
  src/components/restore/EmailLinkRestore.test.tsx
  src/components/restore/EmailLinkRestore.tsx
  src/pages/cpg/EventsAnalysis.module.css
  src/pages/cpg/EventsAnalysis.tsx
  src/pages/cpg/FinancialStatementEntry.module.css
  src/pages/cpg/FinancialStatementEntry.tsx
  src/pages/cpg/LaborRoles.tsx
  src/pages/cpg/SalesPromoDecisionTool.module.css
  src/pages/cpg/SalesPromoDecisionTool.tsx
Due: Components

feat: Phase 5 Task 5.4 - File Upload Restoration Flow
  src/components/restore/FileUploadRestore.module.css
  src/components/restore/FileUploadRestore.tsx
  src/pages/cpg/ScenarioPlanning.tsx
Due: Components

feat: Phase 5 Task 5.5 - Sync Relay Restoration Flow
  src/components/restore/SyncRelayRestore.module.css
  src/components/restore/SyncRelayRestore.tsx
  src/pages/cpg/ScenarioPlanning.module.css
Due: Components

feat: Phase 5 Task 5.6 - Multi-Step Progress Indicator
  src/components/restore/RestorationProgress.module.css
  src/components/restore/RestorationProgress.tsx
Due: Components

feat: Phase 5 Task 5.7 - Post-Restoration Verification
  src/services/restore/VerificationService.ts
Due: Services

feat: Phase 5 Task 5.8 - Restoration Error Handling
  src/services/restore/ErrorHandler.ts
Due: Services

feat: Complete Phase 5 - Cross-Device Restoration (Task 5.9)
  Roadmaps/PHASE_5_COMPLETION_REPORT.md
Due: none

feat: Complete Task 6.1 - Admin Dashboard (Team Access Management)
  src/components/admin/TeamAccessManagement.module.css
  src/components/admin/TeamAccessManagement.test.tsx
  src/components/admin/TeamAccessManagement.tsx
  src/pages/cpg/ScenarioPlanning.module.css
  src/pages/cpg/ScenarioPlanning.tsx
Due: Components

fix: Correct tab alignment in Strategy Planning page
  src/pages/cpg/ScenarioPlanning.module.css
  src/pages/cpg/ScenarioPlanning.tsx
Due: none

feat: Complete Task 6.2 - Key Rotation on Revocation
  src/services/admin/UserRevocationService.test.ts
  src/services/admin/UserRevocationService.ts
Due: Services

feat: Complete Task 6.3 - Historical Snapshot Export
  src/services/admin/HistoricalExport.test.ts
  src/services/admin/HistoricalExport.ts
Due: Services

feat: Complete Task 6.4 - Revoked User Experience
  src/components/sync/RevokedUserNotification.module.css
  src/components/sync/RevokedUserNotification.tsx
  src/services/sync/RevocationHandler.test.ts
  src/services/sync/RevocationHandler.ts
Due: Services, Components

feat: Complete Task 6.5 - Audit Log Viewer with Phase 6 Features
  src/components/admin/AuditLogViewer.module.css
  src/components/admin/AuditLogViewer.tsx
  src/services/audit/AuditChainService.test.ts
  src/services/audit/AuditChainService.ts
Due: Services, Components

feat: Complete Task 6.6 - Audit Chain Integrity Verification
  src/components/admin/AuditLogViewer.module.css
  src/components/admin/AuditLogViewer.tsx
  src/services/audit/AuditChainService.test.ts
  src/services/audit/AuditChainService.ts
Due: Services, Components

feat: Complete Task 6.7 - Backup Permissions Management
  src/components/admin/BackupPermissions.module.css
  src/components/admin/BackupPermissions.test.tsx
  src/components/admin/BackupPermissions.tsx
Due: Components

feat: Complete Task 6.8 - Admin Notifications
  src/services/admin/AdminNotificationService.test.ts
  src/services/admin/AdminNotificationService.ts
Due: Services

feat: Complete Task 6.9 - Testing & Security Review (PHASE 6 COMPLETE!)
  SECURITY_REVIEW_PHASE_6.md
  src/services/admin/Phase6Integration.test.ts
Due: none

feat: Integrate backup location setup and complete Phase 6 production hardening
  PRODUCTION_HARDENING_TEST_RESULTS.md
  src/components/settings/DataSafetyPanel.tsx
  src/pages/auth/BetaSignup.tsx
  src/pages/cpg/CPGSettings.tsx
  src/pages/onboarding/Setup.tsx
  src/services/admin/AdminNotificationService.ts
  src/services/admin/BackupTestNotificationService.ts
  src/services/admin/GDPRService.test.ts
  src/services/admin/GDPRService.ts
  src/services/admin/HistoricalExport.ts
  src/services/backup/AUTOMATED_BACKUP_TESTING.md
  src/services/backup/AutomatedBackupTesting.test.ts
  src/services/backup/AutomatedBackupTesting.ts
  src/services/backup/BackupTestingHelpers.ts
  src/store/database.ts
Due: Services, Store, Components

fix: Use named import for BackupLocationSetup component
  src/pages/onboarding/Setup.tsx
Due: none

fix: Complete backup location integration with File System Access API
  src/components/onboarding/BackupLocationSetup.module.css
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/settings/DataSafetyPanel.tsx
Due: Components
