Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

refine: Add clarity to Overall mode with +/- signs, reset button, and better labels
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

fix: Restore green box styling to Overall mode adjustment inputs
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
Due: none

feat: Complete Cost a New Idea feature and rebrand to Strategy Planning
  src/components/cpg/CPGActionBar.tsx
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGDashboard.old.tsx
  src/pages/cpg/ScenarioPlanning.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.module.css
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
  src/routes/index.tsx
Due: Components

refactor: Remove unused Break-Even and SKU Rationalization tabs
  src/pages/cpg/tabs/scenario/BreakEvenAnalysisTab.tsx
  src/pages/cpg/tabs/scenario/SKURationalizationTab.tsx
Due: none

feat: Apply Audacious design system to My Products page
  src/components/cpg/FinancialWebGraph.module.css
  src/components/cpg/FinishedProductManager.module.css
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/RecipeBuilder.module.css
  src/components/cpg/RecipeBuilder.tsx
  src/components/cpg/modals/AddProductModal.tsx
  src/components/cpg/modals/BundleProductsModal.tsx
  src/pages/cpg/CPGDashboard.module.css
  src/pages/cpg/CPGDashboard.tsx
Due: Components

refine: Transform CPU Tracker Product Costs tab with Audacious design system
  src/components/cpg/CPUDisplay.module.css
  src/components/cpg/CPUDisplay.tsx
  src/pages/cpg/CPUTracker.module.css
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

refine: Apply Audacious design system across remaining CPG components
  AUDACIOUS_DESIGN_SYSTEM.md
  public/assets/audacious-logo.png
  src/components/cpg/CategoryManager.tsx
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/reports/CPGProfitLoss.tsx
  src/pages/cpg/reports/DistributionCostReport.tsx
  src/pages/cpg/reports/GrossMarginReport.tsx
  src/pages/cpg/reports/TradeSpendReport.tsx
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.backup.tsx
Due: Components

refine: Transform Invoices tab with Audacious design system and fix layout issues
  src/components/cpg/modals/InvoiceDetailsModal.tsx
  src/components/layouts/CPGLayout.module.css
  src/pages/cpg/tabs/RawMaterialsTab.tsx
Due: Components

refine: Apply Audacious design system to Cost Intelligence sub-tab navigation
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
Due: none

refine: Replace empty state decorative elements with professional image assets
  src/assets/images/bullseye.png
  src/assets/images/lock-and-key.png
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
  src/pages/cpg/tabs/intelligence/SmartAlertsTab.tsx
Due: none

feat: Enhance CPU Trends tab with professional design and heart-centered messaging
  src/assets/images/growth-coins.png
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
Due: none

feat: Enhance Vendor Intel tab with professional empty state and working invoice actions
  src/assets/images/pointing-finger.png
  src/pages/cpg/CPUTracker.tsx
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/VendorIntelTab.tsx
Due: none

feat: Transform Smart Alerts with full-color cards and dark moody romantic palette
  src/pages/cpg/tabs/intelligence/SmartAlertsTab.tsx
Due: none

feat: Apply Audacious design system to Distribution Center with comprehensive styling
  src/components/cpg/DistributorManager.module.css
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/DistributorProfileForm.tsx
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/Distribution.tsx
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: Components

feat: Apply Audacious design system to Distributor Costs tab
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/tabs/DistributorCostsTab.tsx
Due: none

feat: Apply Audacious design system to Cost Calculations tab
  src/components/cpg/DistributionCalculatorForm.module.css
  src/components/cpg/DistributionCalculatorForm.tsx
  src/components/cpg/DistributionResultsDisplay.module.css
  src/components/cpg/DistributionResultsDisplay.tsx
  src/components/cpg/DistributorSelector.module.css
  src/components/forms/Checkbox.module.css
  src/components/forms/Input.module.css
  src/components/forms/Select.module.css
  src/components/ui/Card.module.css
  src/pages/cpg/Distribution.module.css
  src/pages/cpg/Distribution.tsx
  src/utils/validation.ts
Due: Components

feat: Apply Audacious design system to Saved Scenarios tab
  src/components/cpg/SavedScenarios.module.css
  src/components/cpg/SavedScenarios.tsx
Due: Components

feat: Apply complete Audacious design system to Promo Analysis page
  src/components/cpg/PromoDetailsForm.module.css
  src/components/cpg/PromoImpactSummary.module.css
  src/pages/cpg/SalesPromoDecisionTool.module.css
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/PromoTrackerTab.module.css
Due: Components

feat: Redesign Financial Entry with vertical month navigator sidebar
  src/components/cpg/FinancialTimeline.module.css
  src/components/cpg/FinancialTimeline.tsx
  src/pages/cpg/FinancialStatementEntry.module.css
  src/pages/cpg/FinancialStatementEntry.tsx
Due: Components

fix: Move month navigator to right sidebar and fix tooltip positioning
  src/components/cpg/FinancialTimeline.module.css
  src/pages/cpg/FinancialStatementEntry.module.css
  src/pages/cpg/FinancialStatementEntry.tsx
Due: Components

fix: Allow tooltips to display by changing overflow to visible
  src/components/cpg/FinancialTimeline.module.css
Due: Components

fix: Rewrite tooltip with fixed positioning to escape overflow clipping
  src/components/cpg/FinancialTimeline.module.css
  src/components/cpg/FinancialTimeline.tsx
Due: Components

feat: Expand tooltip to show all essential financial metrics
  src/components/cpg/FinancialTimeline.module.css
  src/components/cpg/FinancialTimeline.tsx
Due: Components

feat: Add partial vs full month detection for accurate progress tracking
  src/components/cpg/FinancialTimeline.module.css
  src/components/cpg/FinancialTimeline.tsx
Due: Components

fix: Change partial month color from teal to purple for clarity
  src/components/cpg/FinancialTimeline.module.css
  src/components/cpg/FinancialTimeline.tsx
Due: Components

feat: Show date ranges in tooltip headers for clarity
  src/components/cpg/FinancialTimeline.module.css
  src/components/cpg/FinancialTimeline.tsx
Due: Components

feat: Transform loading state into magical, encouraging experience
  src/pages/cpg/FinancialStatementEntry.module.css
  src/pages/cpg/FinancialStatementEntry.tsx
Due: none

feat: Transform global PageLoader into magical experience
  src/components/loading/PageLoader.css
  src/components/loading/PageLoader.tsx
Due: Components

feat: Replace emoji icons with custom golden graphics in PageLoader
  public/assets/hourglass.png
  public/assets/sparkle-1.png
  public/assets/sparkle-2.png
  src/components/loading/PageLoader.css
  src/components/loading/PageLoader.tsx
Due: Components

feat: Add loader test page for viewing PageLoader
  src/pages/LoaderTest.tsx
  src/routes/index.tsx
Due: none

refine: Improve PageLoader animations and hourglass sizing
  src/components/loading/PageLoader.css
Due: Components

refine: Increase PageLoader icon sizes by 1.5x
  src/components/loading/PageLoader.css
Due: Components

feat: Add complete Events Analysis feature for farmers markets and events
  .env.example
  server.pid
  src/components/layouts/CPGLayout.tsx
  src/db/database.ts
  src/db/schema/cpg.schema.ts
  src/pages/cpg/EventsAnalysis.module.css
  src/pages/cpg/EventsAnalysis.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.module.css
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
  src/pages/cpg/tabs/EventTrackerTab.module.css
  src/pages/cpg/tabs/EventTrackerTab.tsx
  src/routes/index.tsx
  src/services/cpg/eventAnalyzer.service.ts
Due: Services, Components

fix: Remove global reference causing runtime error in EventAnalyzerService
  src/services/cpg/eventAnalyzer.service.ts
Due: Services

refine: Clean up EventDecisionToolTab CSS and apply Audacious theme
  src/pages/cpg/tabs/EventDecisionToolTab.module.css
Due: none

refine: Complete overhaul of Event Decision Tool with Promo Analysis patterns
  src/pages/cpg/tabs/EventDecisionToolTab.module.css
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: none

fix: Correct button colors and fix critical bugs in Event Decision Tool
  Roadmaps/PHASE_4_V2_COMPLETE.md
  src/pages/cpg/tabs/EventDecisionToolTab.module.css
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: none

fix: Location validation bug, dropdown z-index, and defensive DecimalError handling
  src/api/syncApi.ts
  src/config/api.ts
  src/config/index.ts
  src/pages/cpg/tabs/EventDecisionToolTab.module.css
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
  src/services/cpg/eventAnalyzer.service.ts
  vite.config.ts
Due: Services

fix: Resolve Events Analysis dropdown, location field, and results display issues
  src/components/cpg/EventImpactSummary.module.css
  src/components/cpg/EventImpactSummary.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: Components
