Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

fix: Fix ErrorMessage props and feature vector types (9 errors fixed)
  src/components/reconciliation/steps/SummaryStep.tsx
  src/components/reconciliation/steps/UploadStatementStep.tsx
  src/services/categorization.service.ts
Due: Services, Components

fix: Fix snake_case vs camelCase property name mismatches (19 errors)
  src/services/auditLogExtended.ts
  src/services/email/emailSchedulingService.ts
Due: Services

fix: Use enum values instead of string literals in RecurringTransactionForm (6 errors)
  src/components/recurring/RecurringTransactionForm.tsx
Due: Components

fix(types): Fix route and page component issues (7 errors)
  src/pages/Customers.tsx
  src/pages/Reconciliation.tsx
  src/pages/Vendors.tsx
Due: none

fix(types): Fix TutorialOverlay computed property names (8 errors)
  src/components/tutorials/TutorialOverlay.tsx
Due: Components

fix(tests): Fix transactionMatcher date tolerance check (1/131)
  src/services/transactionMatcher.ts
Due: Services

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
