Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

refactor: Remove emojis from email templates and update trial period
  audacious_money_backend/src/emails/templates.ts
Due: none

feat: Add beta signup flow for free CPG access
  .env.development
  Roadmaps/ROADMAP_ImpactShare.md
  audacious_money_backend/assign-cpg-product.mjs
  audacious_money_backend/check-db.mjs
  audacious_money_backend/check-products.mjs
  audacious_money_backend/check-user-products.mjs
  audacious_money_backend/cpg-quickstart-2026-03-10.json
  audacious_money_backend/fix-migrations.mjs
  audacious_money_backend/list-users.mjs
  audacious_money_backend/seed-data.mjs
  audacious_money_backend/src/db/connection.ts.backup
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/update-price-ids.mjs
  audacious_money_backend/verify-admin-password.mjs
  src/pages/auth/BetaSignup.tsx
  src/pages/cpg/ImpactShare.module.css
  src/pages/cpg/ImpactShare.tsx
  src/pages/cpg/tabs/impactShare/CompareScenariosTab.module.css
  src/pages/cpg/tabs/impactShare/CompareScenariosTab.tsx
  src/pages/cpg/tabs/impactShare/ManageScenariosTab.module.css
  src/pages/cpg/tabs/impactShare/ManageScenariosTab.tsx
  src/pages/cpg/tabs/impactShare/ScenarioBuilderTab.module.css
  src/pages/cpg/tabs/impactShare/ScenarioBuilderTab.tsx
  src/routes/index.tsx
  src/services/auth.service.ts
  src/services/cpg/impactShare.service.ts
Due: Services

fix: Correct CPG redirect URL in beta signup
  src/pages/auth/BetaSignup.tsx
Due: none

fix: Store products array and redirect to CPU Tracker in beta signup
  src/pages/auth/BetaSignup.tsx
Due: none

refactor: Update beta signup subtitle with warmer, confidence-focused messaging
  src/pages/auth/BetaSignup.tsx
Due: none

refactor: Redesign PageLoader with professional, polished aesthetic
  src/components/loading/PageLoader.css
  src/components/loading/PageLoader.tsx
Due: Components

refactor: Update loader message with empowering 'calm before confidence' copy
  src/components/loading/PageLoader.tsx
Due: Components

feat: Add dev mode bypass for localhost development
  src/routes/ProtectedRoute.tsx
Due: none

feat: Add company dropdown menu and Company Profile page
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/CPGLayout.tsx
  src/pages/auth/BetaSignup.tsx
  src/pages/auth/Signup.tsx
  src/pages/cpg/CompanyProfile.module.css
  src/pages/cpg/CompanyProfile.tsx
  src/routes/index.tsx
Due: Components

feat: Complete Company Profile implementation with full sync and UX polish
  audacious_money_backend/src/routes/auth.ts
  src/components/layouts/CPGLayout.module.css
  src/components/layouts/CPGLayout.tsx
  src/pages/cpg/CPGSettings.tsx
  src/pages/cpg/CompanyProfile.tsx
Due: Components

fix: Resolve critical bugs in Strategy Planning, Promo Analysis, and Events Analysis
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/ScenarioPlanning.tsx
  src/pages/cpg/tabs/EventDecisionToolTab.tsx
Due: none

fix: Add .env.production to ensure Cloudflare Pages builds with correct API URL
  .env.production
Due: none

feat: Complete Phase 1 of Labor + Roles feature for CPG cost tracking
  Roadmaps/ROADMAP_Labor_Roles.md
  src/components/cpg/FinishedProductManager.tsx
  src/components/cpg/modals/AddLaborRoleModal.tsx
  src/components/cpg/modals/CPGModals.module.css
  src/components/cpg/modals/LaborAssignmentModal.module.css
  src/components/cpg/modals/LaborAssignmentModal.tsx
  src/components/layouts/CPGLayout.tsx
  src/db/database.ts
  src/db/schema/cpg.schema.ts
  src/pages/cpg/LaborRoles.module.css
  src/pages/cpg/LaborRoles.tsx
  src/routes/index.tsx
  src/services/cpg/laborRole.service.ts
Due: Services, Components

feat(cpg): Phase 2 - Integrate labor costs into CPU calculations
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

feat(cpg): Phase 2 Tweaks - CPU Tracker improvements
  src/components/cpg/CPUDisplay.tsx
  src/components/cpg/modals/ProductBreakdownModal.tsx
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

refactor(cpg): Improve CPU Tracker breakdown layout
  src/components/cpg/modals/ProductBreakdownModal.tsx
Due: Components

feat(cpg): Add labor data structure to Cost Intelligence Tab
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
Due: none

feat(cpg): Add labor adjustment sliders to Scenario Builder
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
  test-beta-signup.html
Due: none

feat(cpg): Add labor filter to Cost Intelligence
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
Due: none

feat(cpg): Alphabetize categories and labor roles in filters
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
Due: none

fix(cpg): Fix undefined data variable in ScenarioBuilderTab
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
Due: none

fix(cpg): Fix filter dropdowns being clipped by overflow
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
Due: none

debug(cpg): Add debug logging for labor filter behavior
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
Due: none

feat(cpg): Apply consistent filter logic to materials and labor sections
  src/pages/cpg/tabs/CostIntelligenceTab.tsx
  src/pages/cpg/tabs/intelligence/ScenarioBuilderTab.tsx
Due: none

feat(cpg): Add labor data to CPU Trends data table
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

feat(cpg): Add labor to CPU Trends line chart and exports
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

feat(cpg): Add labor breakdown to What-If Calculator Build Your Scenario
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

feat(cpg): Add labor cost functionality to Cost a New Idea tab
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

fix(cpg): Fix CPU Trends filter to hide materials when only labor selected
  src/pages/cpg/tabs/intelligence/CPUTrendsTab.tsx
Due: none

fix(cpg): Hide sliders when values are zero in What-If Calculator
  src/pages/cpg/tabs/scenario/WhatIfCalculatorTab.tsx
Due: none

feat(cpg): Add Labor Scenarios tab for interactive labor planning
  src/pages/cpg/LaborRoles.tsx
  src/pages/cpg/tabs/labor/LaborRolesTab.module.css
  src/pages/cpg/tabs/labor/LaborRolesTab.tsx
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

feat(cpg): Add big picture CPU impact summary and improve table styling
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

fix(cpg): Fix Labor Scenarios tab runtime error
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

refactor(cpg): Move CPU impact to product header rows in table
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

refactor(cpg): Redesign Labor Scenarios with clean, professional styling
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
  src/pages/cpg/tabs/labor/LaborScenariosTab.tsx
Due: none

feat(cpg): Restore brand colors with sticky headers for Labor Scenarios
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
Due: none

fix(cpg): Improve Labor Scenarios table readability and sticky headers
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
Due: none

style: Improve Labor Scenarios table readability and header styling
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
Due: none

fix: Enable sticky table headers with proper scrolling
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
Due: none

style: Add gold scrollbar and remove excess right borders
  src/pages/cpg/tabs/labor/LaborScenariosTab.module.css
Due: none
