Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

security: Implement Phase 3 low-severity security fixes (L-1 through L-4)
  SECURITY.md
  docs/DEPLOYMENT_SECURITY.md
  index.html
  scripts/generate-sri.js
  src/__tests__/utils/errorSanitizer.test.ts
  src/auth/login.ts
  src/config/securityHeaders.ts
  src/crypto/encryption.test.ts
  src/crypto/encryption.ts
  src/crypto/keyManagement.test.ts
  src/db/schema/users.schema.test.ts
  src/store/users.test.ts
  src/utils/errorSanitizer.ts
  src/utils/secureStorage.test.ts
  src/utils/secureStorage.ts
  vite.config.ts
Due: none

docs: Update security checklist - Phase 3 complete (9.5/10)
  Roadmaps/SECURITY_FIX_CHECKLIST.md
Due: none

security: Implement Phase 4 continuous security improvements
  .github/workflows/dependency-review.yml
  .github/workflows/security-scan.yml
  docs/INCIDENT_RESPONSE.md
  docs/USER_SECURITY_GUIDE.md
  src/__tests__/api/cspReportHandler.test.ts
  src/__tests__/config/securityHeaders.test.ts
  src/api/cspReportHandler.ts
  src/config/securityHeaders.ts
Due: none

docs: Security hardening complete - 10/10 achieved
  Roadmaps/SECURITY_FIX_CHECKLIST.md
Due: none

fix: Fix 156 tests in H5 Multi-Currency, H6 Advanced Inventory, H7 Interest Split
  src/services/currencyConversion.service.ts
  src/services/interestSplit/amortization.service.test.ts
  src/services/interestSplit/liabilityDetection.service.test.ts
  src/services/interestSplit/paymentSplit.service.test.ts
  src/services/inventoryValuation.service.ts
Due: Services

docs: Archive Groups A-H and clean up main ROADMAP
  Roadmaps/ROADMAP.md
  Roadmaps/ROADMAP_backup_pre_archive.md
  Roadmaps/archive/GROUP_H_ARCHIVE_INDEX.md
Due: none

fix: Complete Infrastructure Capstone test fixes - 100% pass rate
  src/components/activity/CommentComposer.test.tsx
  src/components/activity/CommentComposer.tsx
  src/components/conflicts/ConflictBadge.test.tsx
  src/components/conflicts/ConflictDetailView.test.tsx
  src/components/conflicts/ConflictDetailView.tsx
  src/components/conflicts/ConflictListModal.test.tsx
  src/components/conflicts/ConflictResolutionButtons.test.tsx
  src/components/core/Button.module.css
  src/db/schema/charity.schema.test.ts
  tests/GROUP_I_J_TEST_FIX_REPORT.md
  tests/IC_TEST_FIX_REPORT.md
Due: Components

fix: Unblock build - Fix TypeScript errors and deployment issues
  fix-ts-errors-v2.mjs
  fix-ts-errors-v3.mjs
  fix-ts-errors.mjs
  fix-ts-final.mjs
  package-lock.json
  package.json
  quick-fix.mjs
  src/services/paymentGateway.test.ts
  src/services/portalPaymentIntegration.test.ts
  src/store/bills.test.ts
  src/store/users.test.ts
  src/utils/parsers/pdfParser.ts
Due: none

fix: Phase 2a - Remove unused test imports (vi, beforeEach, afterEach)
  src/__tests__/infrastructure/dependencies.test.ts
  src/__tests__/utils/errorSanitizer.test.ts
  src/db/schema/users.schema.test.ts
  src/routes/AdminRoute.test.tsx
  src/services/admin/charity.service.test.ts
  src/services/auditLogExtended.test.ts
  src/services/automation/autoCategorizationService.test.ts
  src/services/categorization.service.test.ts
  src/services/categorization.service.ts
  src/services/comments.service.test.ts
  src/services/exchangeRate.service.integration.test.ts
  src/services/logoUpload.test.ts
  src/services/portalService.test.ts
  src/services/recentActivity.service.test.ts
  src/services/recurrence.service.ts
  src/services/recurringInvoiceService.test.ts
  src/services/reports/reportExport.service.test.ts
  src/services/stripe.service.test.ts
Due: Services

fix: Phase 2b - Remove unused beforeEach imports
  src/db/schema/users.schema.test.ts
  src/services/conflictResolution.service.test.ts
  src/services/email/emailPreviewService.test.ts
  src/services/enhanced-matching.service.test.ts
  src/services/logoUpload.test.ts
  src/services/reconciliationService.additional.test.ts
  src/services/recurringInvoiceService.test.ts
Due: none

fix: Phase 2c - Remove unused React imports
  src/components/billing/BillingSettings.tsx
  src/components/billing/InvoiceHistory.tsx
  src/components/billing/PaymentMethodManager.tsx
  src/components/billing/SubscriptionManager.tsx
  src/components/tax/TaxAdvisorReview.tsx
  src/components/tax/TaxDocumentChecklist.tsx
  src/components/tax/TaxPackageAssembly.tsx
  src/components/tax/TaxPrepMode.tsx
Due: Components

fix: Phase 2d - Prefix unused index parameters with underscore
  src/components/activity/MentionDropdown.tsx
  src/components/admin/CharityImpactDashboard.tsx
  src/components/admin/MonthlyDistributionReport.tsx
  src/components/conflicts/ConflictDetailView.tsx
  src/components/goals/GoalDetailView.tsx
  src/components/visualization/FlowNode.tsx
Due: Components

fix: Phase 2e - Prefix unused baseline parameters in scenario calculator
  src/services/scenarios/scenarioCalculator.service.ts
Due: Services

docs: Add Phase 2 progress report for overnight session
  PHASE_2_PROGRESS_REPORT.md
Due: none

fix: Phase 2f - Remove unused db imports and prefix class properties
  src/services/automation/anomalyDetectionService.ts
  src/services/automation/autoCategorizationService.ts
  src/services/automation/recurringDetectionService.ts
  src/services/interestSplit/amortization.service.ts
  src/services/interestSplit/checklistIntegration.service.ts
  src/services/metrics/cashFlowMetrics.service.ts
  src/services/metrics/growthMetrics.service.ts
  src/services/metrics/valuationMetrics.service.ts
Due: Services

fix: Phase 2g - Fix remaining _db class property errors
  src/services/interestSplit/amortization.service.ts
  src/services/interestSplit/checklistIntegration.service.ts
  src/services/metrics/cashFlowMetrics.service.ts
  src/services/metrics/growthMetrics.service.ts
  src/services/metrics/valuationMetrics.service.ts
Due: Services

fix: Phase 2h - Prefix unused companyId parameters
  src/components/metrics/MetricsReport.tsx
  src/components/reports/BarterReport.tsx
  src/components/reports/ScheduleEditor.tsx
  src/services/currencyRevaluation.service.ts
  src/services/interestSplit/checklistIntegration.service.ts
  src/services/metrics/leverageMetrics.service.ts
Due: Services, Components

docs: Update progress report with final overnight session numbers
  PHASE_2_PROGRESS_REPORT.md
Due: none

fix: Phase 2i - Remove unused test imports and fix encryption context params
  src/components/automation/SuggestionCard.test.tsx
  src/components/conflicts/ConflictBadge.test.tsx
  src/components/conflicts/ConflictDetailView.test.tsx
  src/components/conflicts/ConflictListModal.test.tsx
  src/components/interestSplit/InterestSplitPrompt.test.tsx
  src/components/vendors/VendorForm.test.tsx
  src/components/vendors/VendorList.test.tsx
  src/components/visualization/FlowNode.test.tsx
  src/services/metrics/cashFlowMetrics.service.ts
  src/services/metrics/growthMetrics.service.ts
  src/services/metrics/valuationMetrics.service.ts
  src/services/multiUser/keyRotation.enhanced.service.ts
  src/services/reports/balanceSheet.test.ts
  src/services/reports/profitLoss.test.ts
Due: Services

fix: Phase 2j - Fix unused date and ID parameters in placeholder services
  src/services/csv/csvExporter.service.ts
  src/services/interestSplit/amortization.service.ts
  src/services/interestSplit/checklistIntegration.service.ts
  src/services/interestSplit/liabilityDetection.service.ts
  src/services/interestSplit/paymentSplit.service.ts
  type-check-output.txt
Due: Services

fix: Phase 2k - Fix unused variables in checklistIntegration and approvalWorkflow
  src/services/approvalWorkflowService.ts
  src/services/interestSplit/checklistIntegration.service.ts
  type-check-output2.txt
Due: Services

fix: Phase 2l - Fix unused vars in keyRotation, liabilityDetection, currencyGainLoss
  src/services/currencyGainLoss.service.ts
  src/services/interestSplit/liabilityDetection.service.ts
  src/services/multiUser/keyRotation.enhanced.service.ts
  type-check-output3.txt
Due: Services

fix: Phase 2m - Fix unused variables in test files (batch 1)
  src/__tests__/infrastructure/dependencies.test.ts
  src/components/billing/SubscriptionManager.test.tsx
  src/crypto/keyManagement.test.ts
  src/db/schema/charity.schema.test.ts
  src/services/admin/charityDistribution.service.test.ts
  src/services/billing.service.test.ts
  src/services/comments.service.test.ts
  type-check-output4.txt
Due: none

fix: Phase 2n - Fix unused imports/vars in auth, mocks, and admin components
  src/__mocks__/brain.js.ts
  src/auth/login.ts
  src/components/admin/CharityImpactDashboard.tsx
  src/components/admin/CharityList.tsx
  src/components/admin/MonthlyDistributionReport.tsx
  src/components/billing/PaymentMethodManager.tsx
  src/components/billing/SubscriptionManager.tsx
  src/components/currency/RateOverride.tsx
  src/components/dashboard/ResumeWidget.tsx
  type-check-output5.txt
Due: Components

fix: Phase 2o - Batch fix unused imports in 6 component files
  src/components/conflicts/ConflictDetailView.tsx
  src/components/csv/CSVImporter.tsx
  src/components/interestSplit/LoanAmortizationSchedule.tsx
  src/components/metrics/MetricsReport.tsx
  src/components/reports/BarterReport.tsx
  src/components/search/RecentSearches.tsx
  type-check-output6.txt
Due: Components

fix: Phase 3a - Batch fix 31 enum case mismatch errors (TS2820)
  src/data/charities.ts
  src/db/seeds/charities.seed.ts
  type-check-output7.txt
Due: none

fix: Phase 3b - Fix 3 more enum status mismatches in schema files
  src/db/schema/charity.schema.ts
  src/db/schema/payments.schema.ts
  src/db/schema/recurringInvoices.schema.ts
  type-check-output8.txt
Due: none

fix: Phase 3c - BATCH FIX 31 enum errors in charity.service.test.ts
  src/services/admin/charity.service.test.ts
  type-check-output9.txt
Due: none

fix: Phase 3d - ELIMINATE 52 enum errors in recurrence.service.test.ts
  src/services/recurrence.service.test.ts
  type-check-output10.txt
Due: none

fix: Phase 3e - Eliminate ALL 14 enum errors in recurringInvoiceService.test.ts
  src/services/recurringInvoiceService.test.ts
  type-check-output11.txt
Due: none

fix: Phase 3f - A/R Aging Report enum fixes (9 errors)
  src/services/reports/arAgingReport.service.test.ts
  type-check-latest.txt
  type-check-output2.txt
Due: none

fix: Phase 3g - Recurring Invoices enum fixes (8 errors)
  src/store/recurringInvoices.test.ts
  type-check-3g.txt
Due: none

fix: Phase 3h - Batch enum fixes in test files (8 errors)
  src/services/admin/charityDistribution.service.test.ts
  src/utils/parsers/matchingAlgorithm.test.ts
  type-check-3h.txt
Due: none

fix: Phase 3i - Final enum cleanup across 8 files (7 fixed)
  src/__tests__/integration/groupE.integration.test.ts
  src/services/admin/charity.service.test.ts
  src/services/admin/charity.service.ts
  src/services/interestSplit/amortization.service.test.ts
  src/services/paymentGateway.ts
  src/store/recurringInvoices.ts
  type-check-3i-final.txt
  type-check-current.txt
  type-check-final-enum.txt
  type-check-phase3-complete.txt
Due: Services, Store

fix: Phase 2p - Unused variables in CSV services (12 fixed)
  src/services/csv/csvExporter.service.test.ts
  src/services/csv/csvImporter.service.ts
Due: Services

fix: Phase 2q - Batch unused variable cleanup (22 fixes attempted, 16 net)
  src/components/csv/CSVExporter.test.tsx
  src/services/interestSplit/amortization.service.ts
  src/services/metrics/leverageMetrics.service.ts
  src/services/recurringInvoiceService.test.ts
  src/store/approvalWorkflows.ts
Due: Services, Store

fix: TS2532 - Add optional chaining to test array access (72 errors)
  src/services/mentions.service.test.ts
  src/services/recentActivity.service.test.ts
Due: none

fix: Phase 2r - ParentAccountSelector unused params (5 fixes)
  src/components/contacts/ParentAccountSelector.test.tsx
  src/services/multiUser/notification.service.test.ts
Due: none

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
