Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

fix: Add retry logic for subscription fetch to prevent 403 errors
  src/pages/checkout/CheckoutSuccess.tsx
Due: none

fix: Add bulletproof fallback for 403 errors - always let users in
  src/pages/checkout/CheckoutSuccess.tsx
Due: none

fix: Disable hover popup and change Coming Soon to purple
  src/components/charity/CharityCard.module.css
  src/components/charity/CharitySelector.tsx
Due: Components

feat: Enable Feed Seven Generations after receiving consent
  src/components/charity/CharitySelector.tsx
Due: Components

feat: Add loading state to prevent duplicate worksheet imports
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

feat: Add loading overlay demo page
  src/pages/LoadingOverlayDemo.module.css
  src/pages/LoadingOverlayDemo.tsx
  src/routes/index.tsx
Due: none

feat: Add PageLoader style to loading overlay
  src/components/feedback/Loading.module.css
  src/components/feedback/Loading.tsx
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/pages/LoadingOverlayDemo.module.css
  src/pages/LoadingOverlayDemo.tsx
Due: Components

feat: Update loading overlay message to match brand voice
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/pages/LoadingOverlayDemo.tsx
Due: Components

feat: Add PageLoader style overlay to signup flow step 3
  src/pages/auth/Signup.tsx
Due: none

feat: Auto-create categories and variants on blur
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

feat: Add auto-create on blur for categories and variants in Add Product modal
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

feat: Load existing recipe and labor data when editing products
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

fix: Cancel Stripe subscriptions when deleting users from admin
  audacious_money_backend/src/routes/admin.ts
Due: none

fix: Exclude webhooks from logger middleware to preserve raw body
  audacious_money_backend/src/app.ts
Due: none

feat: Add trial status and next billing date to subscription display
  audacious_money_backend/src/routes/users.ts
  src/components/billing/SubscriptionStatusCard.module.css
  src/components/billing/SubscriptionStatusCard.tsx
  src/services/billing.api.ts
Due: Services, Components

fix: Retrieve payment method from subscription and update button styling
  audacious_money_backend/src/services/stripe.service.ts
  src/components/billing/PaymentMethodCard.tsx
Due: Components

feat: Add troubleshooting fields to admin dashboard
  audacious_money_backend/src/routes/admin.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

debug: Add extensive logging for account_status during login and signup
  audacious_money_backend/src/routes/auth.ts
Due: none

debug: Add logging for products returned during login
  audacious_money_backend/src/routes/auth.ts
Due: none

debug: Log ALL user products regardless of status during login
  audacious_money_backend/src/routes/auth.ts
Due: none

fix: Properly set trial status and remove email verification warning
  audacious_money_backend/src/routes/webhooks.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

feat: Add Stripe subscription statuses to database constraint
  audacious_money_backend/migrations/009_update_status_constraint.sql
  audacious_money_backend/run-migration-009.mjs
Due: none

feat: Show subscription status in main admin table
  audacious_money_backend/src/routes/admin.ts
  src/pages/admin/AdminDashboard.tsx
Due: none

feat: Add comprehensive subscription status display with icons
  src/pages/admin/AdminDashboard.tsx
Due: none

fix: Use 'trialing' instead of 'trial' to match Stripe subscription status
  audacious_money_backend/src/db/migrations/014_fix_subscription_status_values.sql
  audacious_money_backend/src/routes/auth.ts
  audacious_money_backend/src/routes/users.ts
Due: none

fix: Prevent charity cards from overflowing off page
  src/components/charity/CharitySelector.module.css
Due: Components

fix: Prevent product cards from being cut off on My Finished Products page
  src/components/cpg/FinishedProductManager.module.css
  src/pages/cpg/CPGPages.module.css
Due: Components

feat: Add sales channel cost breakdown to local course outline
  course-outline.html
Due: none

feat: Add smart auto-backup system with recovery UI
  BACKUP_RECOVERY_MOCKUP.html
  SMART_BACKUP_IMPLEMENTATION_COMPLETE.md
  SMART_BACKUP_SECURITY_FIXES.md
  src/App.tsx
  src/components/backup/BackupStatusIndicator.module.css
  src/components/backup/BackupStatusIndicator.tsx
  src/components/backup/DataRecoveryModal.module.css
  src/components/backup/DataRecoveryModal.tsx
  src/components/backup/INTEGRATION_EXAMPLE.tsx
  src/components/backup/README.md
  src/hooks/useDataRecovery.ts
  src/services/backup/SmartAutoBackupService.ts
Due: Services, Components

fix: Correct backup history database upgrade transaction access
  src/components/settings/DataSafetyPanel.tsx
Due: Components

feat: Add workshop email templates for educational workshop system
  audacious_money_backend/src/services/email/workshopEmails.ts
Due: none

feat: Add educational workshop system foundation (Phase 1: A1-A3)
  audacious_money_backend/src/db/migrations/015_educational_workshops.sql
  audacious_money_backend/src/types/workshop.types.ts
  audacious_money_backend/src/utils/validation-workshops.ts
  audacious_money_backend/src/utils/workshopAccess.ts
Due: none

fix: Use forEach instead of for-of for Set iteration in workshopEmails
  audacious_money_backend/src/services/email/workshopEmails.ts
Due: none

fix: Display CPG invoices on Invoices page
  src/pages/Invoices.tsx
Due: none

feat: Add workshop CRUD and enrollment API endpoints
  audacious_money_backend/src/app.ts
  audacious_money_backend/src/routes/workshops.ts
Due: none

feat: Add workshop access middleware for educational workshop system
  audacious_money_backend/src/middleware/workshopAccess.ts
  audacious_money_backend/src/types/hono.ts
Due: none

feat: Add workshop enrollments dashboard and analytics components (Sprint 3, Phase 3: C3-C4)
  src/components/admin/workshops/WorkshopAnalytics.module.css
  src/components/admin/workshops/WorkshopAnalytics.tsx
  src/pages/admin/WorkshopEnrollmentsPage.module.css
  src/pages/admin/WorkshopEnrollmentsPage.tsx
  src/services/workshops.api.ts
Due: Services, Components

feat: Add workshop admin UI components (Sprint 3, Phase 3 - Tasks C1, C2, C2b)
  package-lock.json
  package.json
  src/components/admin/workshops/EmailTemplateEditor.module.css
  src/components/admin/workshops/EmailTemplateEditor.tsx
  src/components/admin/workshops/WorkshopForm.module.css
  src/components/admin/workshops/WorkshopForm.tsx
  src/pages/admin/WorkshopsPage.module.css
  src/pages/admin/WorkshopsPage.tsx
Due: Components

feat: Add workshop signup flow pages (Phase 4, Tasks D1-D4)
  src/pages/workshops/WorkshopCountdownPage.module.css
  src/pages/workshops/WorkshopCountdownPage.tsx
  src/pages/workshops/WorkshopSignupPage.module.css
  src/pages/workshops/WorkshopSignupPage.tsx
  src/pages/workshops/WorkshopThankYouPage.module.css
  src/pages/workshops/WorkshopThankYouPage.tsx
  src/pages/workshops/WorkshopWorksheetPage.module.css
  src/pages/workshops/WorkshopWorksheetPage.tsx
  src/routes/index.tsx
  src/services/workshops.api.ts
Due: Services

feat: Add workshop email scheduler and HTML renderer services (Phase 5, E2/E2b)
  audacious_money_backend/src/services/email/workshopEmailRenderer.ts
  audacious_money_backend/src/services/email/workshopEmailScheduler.ts
Due: none
