Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

fix: Phase 2s - Batch unused variables in services (9 fixes)
  src/services/mentions.service.ts
  src/services/reconciliationHistory.service.test.ts
  src/services/reports/arAgingReport.service.ts
  src/services/runway/scenarioModeler.service.ts
Due: Services

fix: Phase 2t - Remove unused imports in duplicateDetection (3 fixes)
  src/services/duplicateDetection.service.ts
Due: Services

fix: Phase 2u - Liability detection unused params (3 fixes)
  src/services/interestSplit/liabilityDetection.service.ts
Due: Services

fix: TS2532 - Add optional chaining in comments and audit log tests (28 errors)
  src/services/auditLogExtended.test.ts
  src/services/comments.service.test.ts
Due: none

fix: Phase 2v - Amortization test unused variables (3 fixes)
  CUsersAdmingraceful_booksts2339-errors.txt
  src/__tests__/infrastructure/dependencies.test.ts
  src/__tests__/integration/groupE.integration.test.ts
  src/services/interestSplit/amortization.service.test.ts
  src/types/journalEntry.types.ts
  src/types/reports.types.ts
Due: none

fix: TS2339 - Add missing properties to types and database tables (163 errors)
  src/store/database.ts
  src/types/journalEntry.types.ts
Due: Store

fix: TS2345 - Fix type mismatches in test files (15 errors)
  src/__tests__/integration/groupE.integration.test.ts
Due: none

fix: Phase 2w - Barter entry unused state setters (2 fixes)
  CUsersAdmingraceful_booksts2339-errors-remaining.txt
  src/components/transactions/BarterEntry.tsx
Due: Components

fix: Phase 2x - VendorForm test unused variables (2 fixes)
  src/components/vendors/VendorForm.test.tsx
  src/store/invoiceTemplates.test.ts
  src/store/tutorials.test.ts
Due: none

fix: Phase 2y - Remove unused imports in encryption (2 fixes)
  src/crypto/encryption.ts
  src/db/database.ts
  src/db/schema/charity.schema.test.ts
  src/services/portalPaymentIntegration.test.ts
  src/services/portalService.test.ts
Due: none

fix: Phase 2z - FinancialFlowWidget unused variables (2 fixes)
  src/components/activity/CommentComposer.tsx
  src/components/admin/CharityManagement.tsx
  src/components/admin/MonthlyDistributionReport.tsx
  src/components/conflicts/ConflictListModal.test.tsx
  src/components/interestSplit/LoanAmortizationSchedule.tsx
  src/components/recurring/RecurringTransactionForm.tsx
  src/components/visualization/FinancialFlowWidget.tsx
  src/services/reports/arAgingReport.service.ts
  src/types/database.types.ts
  src/types/index.ts
  src/types/reports.types.ts
  src/types/runway.types.ts
Due: Services, Components

fix: TS2345 - Fix type mismatches in components and schema tests (18 errors)
  src/components/tax/TaxDocumentUpload.tsx
  src/components/transactions/BarterEntry.tsx
  src/components/vendors/VendorList.test.tsx
Due: Components

fix: Phase 2aa - Remove unused imports in crypto and CRDT (4 fixes)
  src/components/visualization/FlowAnimation.tsx
  src/crypto/keyDerivation.ts
  src/crypto/keyManagement.test.ts
  src/services/admin/charityDistribution.service.ts
  src/services/approvalWorkflowService.ts
  src/services/crdt/entityMergeStrategies.test.ts
Due: Services, Components

fix: Phase 2ab - useVendors test unused variables (3 fixes)
  src/hooks/useVendors.test.ts
  src/services/auditLogExtended.test.ts
Due: none

fix: TS2345 - Fix type mismatches in services and tests (25 errors)
  src/components/csv/ColumnMapper.test.tsx
  src/components/visualization/FlowNode.test.tsx
  src/db/schema/invoiceTemplates.schema.test.ts
  src/services/auditLogExtended.test.ts
  src/services/csv/csvImporter.service.ts
  src/services/csv/csvValidator.service.ts
  src/services/scenarios/scenarioCalculator.service.ts
Due: Services

fix: Phase 2ac - Batch test file unused variables (5 fixes)
  src/services/admin/charityDistribution.service.test.ts
  src/types/reports.types.ts
Due: none

fix: TS2345 - Fix enum type mismatches in schema tests (43 errors)
  src/components/activity/MentionDropdown.tsx
  src/db/schema/charity.schema.test.ts
  src/db/schema/users.schema.test.ts
  src/services/admin/charityDistribution.service.ts
  src/services/billing.service.ts
Due: Services, Components

fix: TS2339 - Add account_name and account_code to Account type (13 errors potential)
  src/types/database.types.ts
Due: none

fix: Phase 2ae - GoalsDashboard unused callback parameter (1 fix)
  src/components/goals/GoalsDashboard.tsx
Due: Components

fix: Phase 2af - Remove unused imports in tax and currency services (5 fixes)
  src/components/tax/TaxDocumentChecklist.tsx
  src/components/tax/TaxPackageAssembly.tsx
  src/services/currencyRevaluation.service.ts
Due: Services, Components

fix: Phase 2ag - Remove unused imports in email and exchange rate services (6 fixes)
  src/services/email/emailPreviewService.test.ts
  src/services/email/integration.test.ts
  src/services/email/templates/advisorInvitation.ts
  src/services/exchangeRate.service.ts
Due: Services

fix: Phase 2ah - Remove unused imports and variables in components (7 fixes)
  src/components/interestSplit/InterestSplitPrompt.tsx
  src/components/invoices/PortalLinkGenerator.tsx
  src/components/runway/RunwayDashboard.tsx
  src/components/runway/RunwayTrendChart.tsx
  src/components/runway/ScenarioSliders.tsx
Due: Components

fix: Phase 2ai - Fix unused parameters in automation services (3 fixes)
  src/services/automation/anomalyDetectionService.ts
  src/services/automation/autoCategorizationService.ts
  src/services/automation/recurringDetectionService.ts
Due: Services

fix: Phase 2aj - Fix unused parameters in comments and goals services (3 fixes)
  src/services/comments.service.ts
  src/services/goals/goalCalculator.service.ts
  src/services/goals/goalProgress.service.ts
Due: Services

fix: Phase 2ak - Component and observability unused variables (5 fixes)
  src/components/metrics/PeerBenchmark.tsx
  src/components/reports/ScheduleEditor.tsx
  src/components/visualization/FlowAnimation.tsx
  src/observability/tracing.ts
  src/pages/CustomerPortal.tsx
Due: Components

fix: Phase 2al - Remove truly unused variables (9 fixes)
  src/__mocks__/brain.js.ts
  src/components/activity/MentionDropdown.tsx
  src/components/csv/CSVExporter.test.tsx
  src/components/interestSplit/InterestSplitPrompt.tsx
  src/components/metrics/PeerBenchmark.tsx
  src/components/runway/RunwayTrendChart.tsx
  src/observability/tracing.ts
  src/pages/CustomerPortal.tsx
  temp-errors.txt
Due: Components

fix: Phase 2am - Remove unused variables from services and tests (7 fixes)
  src/components/vendors/VendorForm.test.tsx
  src/db/schema/invoiceTemplates.schema.test.ts
  src/hooks/useVendors.test.ts
  src/observability/tracing.ts
  src/services/automation/autoCategorizationService.ts
  src/services/exchangeRate.service.ts
  src/services/goals/goalProgress.service.ts
Due: Services

fix: Phase 2an - Remove unused test variables and imports (11 fixes)
  src/services/admin/charityDistribution.service.test.ts
  src/services/csv/csvExporter.service.test.ts
  src/services/journalEntries.service.ts
  src/services/logoUpload.test.ts
Due: Services

fix: Phase 2ao - Remove unused type imports (5 fixes)
  src/services/interestSplit/paymentSplit.service.ts
  src/services/runway/runwayCalculator.service.ts
  src/store/charities.test.ts
  src/store/tutorials.test.ts
  src/types/billing.types.ts
Due: Services

fix: Phase 2ap - Remove unused test and service variables (7 fixes)
  src/services/email/emailContentGenerator.test.ts
  src/services/exchangeRate.service.test.ts
  src/services/interestSplit/amortization.service.test.ts
  src/services/interestSplit/amortization.service.ts
  src/services/mentions.service.ts
Due: Services

fix: Phase 2aq - Remove more unused imports and methods (5 fixes)
  src/services/interestSplit/amortization.service.test.ts
  src/services/interestSplit/checklistIntegration.service.ts
  src/services/metrics/liquidityMetrics.service.test.ts
  src/services/paymentGateway.test.ts
Due: Services

fix: Phase 2ar - Remove unused test imports (5 fixes)
  src/services/reconciliationHistory.service.test.ts
  src/services/recurrence.service.test.ts
  src/services/reportScheduler.service.test.ts
  src/services/runway/runwayCalculator.service.test.ts
  src/utils/flowCalculations.test.ts
Due: none

fix: Phase 2as - Remove unused test variables (3 fixes)
  src/services/mentions.service.test.ts
  src/services/portalService.test.ts
Due: none

fix: Phase 2at - Remove unused test variables (5 fixes)
  src/services/journalEntries.integration.test.ts
  src/store/invoiceTemplates.test.ts
Due: none

fix: Phase 2au - Remove unused service imports and variables (4 fixes)
  src/services/multiUser/audit.service.ts
  src/services/stripe.service.ts
Due: Services

fix: Phase 2av - Remove more unused imports and params (4 fixes)
  src/services/multiUser/keyRotation.enhanced.service.test.ts
  src/services/multiUser/keyRotation.enhanced.service.ts
  src/services/reportScheduler.service.ts
Due: Services

fix: Phase 2aw - Remove unused test variables (3 fixes)
  src/services/reports/profitLoss.test.ts
  src/services/stripe.service.test.ts
Due: none

fix: Phase 2ax - Remove unused secureStorage test mock (1 fix)
  src/utils/secureStorage.test.ts
Due: none

fix: Phase 2ay - Final TS6133 cleanup (8 fixes)
  src/services/interestSplit/liabilityDetection.service.test.ts
  src/services/metrics/profitabilityMetrics.service.ts
  src/services/multiUser/notification.service.test.ts
  src/services/multiUser/notification.service.ts
  src/services/portalPaymentIntegration.test.ts
  src/services/scenarios/scenarioCalculator.service.ts
  src/services/scenarios/scenarioSharing.service.ts
Due: Services

fix: Phase 2az - Remove unused db import in notification.service (1 fix)
  src/services/multiUser/notification.service.ts
Due: Services

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
