Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

fix: Make sticky branding larger with horizontal text
  src/pages/workshops/WorkshopSignupPage.module.css
Due: none

fix: Update privacy link to correct URL
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Open footer links in new window
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

feat: Add free trial duration and center sticky branding
  src/pages/workshops/WorkshopSignupPage.module.css
  src/pages/workshops/WorkshopSignupPage.tsx
Due: none

fix: Move sticky branding right to prevent text cutoff
  src/pages/workshops/WorkshopSignupPage.module.css
Due: none

fix: Increase sticky branding left margin to 4rem
  src/pages/workshops/WorkshopSignupPage.module.css
Due: none

feat: Improve Edit Product modal batch entry and unit conversion handling
  src/components/cpg/modals/AddProductModal.tsx
  src/db/schema/cpg.schema.ts
Due: Components

fix: Add unit dropdowns to conversion entry in Edit Product modal
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

fix: Increase workshop description character limit for rich text
  audacious_money_backend/src/utils/validation-workshops.ts
Due: none

feat: Add S+H distribution fixes and worksheet UI improvements
  src/components/onboarding/ComprehensiveWorksheet.module.css
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/components/onboarding/WorksheetCalculator.module.css
  src/components/onboarding/WorksheetCalculator.tsx
  src/components/onboarding/WorksheetSidebar.module.css
  src/components/onboarding/WorksheetSidebar.tsx
  src/services/cpg/worksheetImporter.service.test.ts
  src/utils/shDistribution.test.ts
  src/utils/shDistribution.ts
Due: Components

feat: Enhance vendor bills and insights functionality
  src/components/transactions/BillPaidForm.module.css
  src/components/transactions/BillPaidForm.tsx
  src/components/transactions/ExpenseForm.tsx
  src/components/vendors/VendorBills.tsx
  src/components/vendors/VendorInsights.module.css
  src/components/vendors/VendorInsights.tsx
  src/pages/Transactions.tsx
  src/store/transactions.ts
  src/types/index.ts
Due: Store, Components

fix: Unit conversion display and worksheet page styling
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/pages/workshops/WorkshopWorksheetPage.tsx
Due: Components

feat: Add unit type guardrails to conversion form dropdowns
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

feat: Add vendor tracking and selection dropdown to worksheet
  src/components/onboarding/ComprehensiveWorksheet.module.css
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Vendor dropdown not opening due to event propagation
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Vendor dropdown click handling to match category dropdown pattern
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Replace custom vendor dropdown with simple select element
  src/components/onboarding/ComprehensiveWorksheet.module.css
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Vendor selection not persisting - use single state updates
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

feat: Import vendors from worksheet into CPGVendor table
  src/services/cpg/worksheetImporter.service.ts
Due: Services

fix: Convert worksheet string values to numbers for import validation
  src/pages/workshops/WorkshopWorksheetPage.tsx
  src/services/cpg/worksheetImporter.service.ts
Due: Services

feat: Add API timeouts and enhance health checks
  audacious_money_backend/src/app.ts
  src/services/api.ts
Due: Services

feat: Add worksheet import test page for debugging
  src/pages/WorksheetImportTest.tsx
  src/routes/index.tsx
Due: none

feat: Add full worksheet flow test page
  src/pages/WorksheetFlowTest.tsx
  src/routes/index.tsx
Due: none

fix: Remove false zero-knowledge encryption claims from documentation
  .github/GITHUB_SETUP.md
  .github/POST_SETUP_CHECKLIST.md
  .github/pull_request_template.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  CPG/AGENT_REVIEW_PROD_CHECKLIST.md
  CPG/docs/audacious-money-email-sequence.md
  CPG/implementation-summaries/B2_DISTRIBUTION_CALCULATOR_SUMMARY.md
  CPG/implementation-summaries/B3_SALES_PROMO_ANALYZER_SUMMARY.md
  CPG/implementation-summaries/C1_CPU_TRACKER_SUMMARY.md
  CPG/implementation-summaries/D1_STANDALONE_FINANCIALS_SUMMARY.md
  CPG/implementation-summaries/D2_CPG_ACCOUNTING_INTEGRATION_SUMMARY.md
  DEVELOPER_POSITION.md
  PHASE_4_QUALITY_CHECKLIST.md
  README.md
  SECURITY.md
  audacious_money_backend/src/services/email.service.ts
  constellation/src/data/ecosystemData.ts
  index.html
  openspec/project.md
  src/crypto/README.md
Due: none

test: Capture v1-derived backup fixture for migration verification
  src/services/backup/__fixtures__/v1-derived-backup.json
  src/services/backup/__fixtures__/v1-derived-backup.meta.json
  src/services/backup/__tests__/v1DerivedKeyMigration.test.ts
Due: Services

fix: Move fixture generation to one-time script, tests read-only
  scripts/generate-v1-backup-fixture.ts
  src/services/backup/__fixtures__/v1-derived-backup.meta.json
  src/services/backup/__tests__/v1DerivedKeyMigration.test.ts
Due: Services

feat: Add restore button to Settings and size limit to auto-restore
  src/components/settings/DataSafetyPanel.tsx
  src/hooks/useDataRecovery.ts
Due: Components

fix: Correct rotation pattern to match actual backup filenames
  HANDOFF.md
  src/services/backup/SmartAutoBackupService.test.ts
  src/services/backup/SmartAutoBackupService.ts
Due: Services

fix: Add wasm-unsafe-eval to CSP and handle Argon2 failures gracefully
  HANDOFF.md
  public/_headers
  src/components/backup/EncryptedBackup.tsx
  src/crypto/keyDerivation.ts
Due: Components

feat: Rename backups to audacious-backup-*, require Argon2 for new backups
  HANDOFF.md
  src/crypto/keyDerivation.test.ts
  src/crypto/keyDerivation.ts
  src/services/backup/BackupEncryption.ts
  src/services/backup/BackupHistoryService.ts
  src/services/backup/SmartAutoBackupService.test.ts
  src/services/backup/SmartAutoBackupService.ts
  src/services/backup/backupService.test.ts
  src/services/backup/backupService.ts
Due: Services

fix: Critical backup security fixes - company isolation & mismatch detection
  src/components/backup/EncryptedBackup.module.css
  src/components/backup/EncryptedBackup.tsx
  src/db/backupCompleteness.test.ts
  src/db/database.ts
  src/services/backup/SmartAutoBackupService.ts
  src/services/backup/backupRestoreRoundTrip.test.ts
  src/services/backup/backupService.test.ts
  src/services/backup/backupService.ts
Due: Services, Components

fix: Apply companyId filtering to getComprehensiveStatistics()
  src/components/backup/EncryptedBackup.tsx
  src/db/database.ts
Due: Components

fix: Auto-mode restore tries key first, adds plain-language comparison summary
  src/components/backup/EncryptedBackup.module.css
  src/components/backup/EncryptedBackup.tsx
Due: Components

fix: Remove auto-mode encryption entirely - backups now passphrase-only
  src/App.tsx
  src/components/backup/DataRecoveryModal.tsx
  src/components/backup/EncryptedBackup.tsx
  src/components/backup/INTEGRATION_EXAMPLE.tsx
  src/components/onboarding/BackupLocationSetup.test.tsx
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/settings/DataSafetyPanel.test.tsx
  src/components/settings/DataSafetyPanel.tsx
  src/db/schema/backupPreferences.schema.test.ts
  src/db/schema/backupPreferences.schema.ts
  src/services/backup/BackupFallback.test.ts
  src/services/backup/BackupFallback.ts
  src/services/backup/FileSystemBackup.test.ts
  src/services/backup/FileSystemBackup.ts
  src/services/backup/SmartAutoBackupService.test.ts
  src/services/backup/SmartAutoBackupService.ts
Due: Services, Components

feat: Make backup UI consistent with passphrase-only flow
  src/components/backup/EncryptedBackup.tsx
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/settings/DataSafetyPanel.test.tsx
  src/components/settings/DataSafetyPanel.tsx
  src/services/backup/FileSystemBackup.test.ts
  src/services/backup/FileSystemBackup.ts
Due: Services, Components

feat: Add admin broadcast email endpoint
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/services/email.service.ts
Due: none

fix: Correct branding and clarify retention policy in account deletion
  src/components/billing/AccountDeletionSection.tsx
Due: Components

fix: Improve account deletion email clarity and reply handling
  audacious_money_backend/src/services/email.service.ts
Due: none

feat: Atomic restore, preview with named records, storage persistence
  HANDOFF.md
  src/components/backup/EncryptedBackup.module.css
  src/components/backup/EncryptedBackup.test.tsx
  src/components/backup/EncryptedBackup.tsx
  src/components/cpg/DistributorManager.tsx
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/AddProductModal.tsx
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/settings/DataSafetyPanel.tsx
  src/db/database.ts
  src/db/importAllData.test.ts
  src/main.tsx
  src/services/backup/BackupHistoryService.test.ts
  src/services/backup/BackupHistoryService.ts
  src/services/backup/backupDiff.test.ts
  src/services/backup/backupDiff.ts
  src/services/backup/backupService.test.ts
  src/services/backup/backupService.ts
  src/services/globalErrorHandler.ts
  src/services/storagePersistence.ts
Due: Services, Components

Path conditions:
  Services: any of: src/services/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Store: any of: src/store/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
  Libraries: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test/**, **/tests/**, **/__tests__/**, **/types/**, **/*.d.ts, vite.config.ts, playwright.config.ts, node_modules, coverage, dist, .github
