Repository BeTrashMonster/graceful-books: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Store, Components, Libraries

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

  # Show these sections in PR comments
  branches:
    - main

  # Comment format
  after_n_builds: 1

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/types/**"
  - "**/*.d.ts"
  - "vite.config.ts"
  - "playwright.config.ts"
  - "node_modules"
  - "coverage"
  - "dist"
  - ".github"

# Require coverage for these paths
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

# Coverage targets by component
component_management:
  individual_components:
    - component_id: services
      name: Services
      paths:
        - src/services/**

    - component_id: store
      name: Store
      paths:
        - src/store/**

    - component_id: components
      name: Components
      paths:
        - src/components/**

    - component_id: lib
      name: Libraries
      paths:
        - src/lib/**

# GitHub Checks
github_checks:
  annotations: true

# Slack/GitHub notifications (optional, configure as needed)
# notifications:
#   slack:
#     default:
#       url: "secret:slack_webhook_url"
#       threshold: 1%
#       only_pulls: true

fix: Update session with products before CPG redirect
  src/pages/checkout/CheckoutSuccess.tsx
Due: none

fix: Include charity details in selection response
  audacious_money_backend/src/routes/charities.ts
Due: none

feat: Add Sales Impact Scenarios to Strategy Planning with precision fixes
  src/components/cpg/ProductImpactAnalysis.module.css
  src/components/cpg/ProductImpactAnalysis.tsx
  src/db/schema/cpg.schema.ts
  src/pages/cpg/ScenarioPlanning.tsx
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.tsx
  src/pages/cpg/tabs/scenario/ProductImpactTab.tsx
Due: Components

fix: Isolate backup history by company ID
  src/components/settings/DataSafetyPanel.tsx
Due: Components

feat: Add monthly/annual toggle for owner's pay in Product Impact Analysis
  src/components/cpg/ProductImpactAnalysis.tsx
  src/components/settings/DataSafetyPanel.tsx
  src/pages/cpg/tabs/labor/OwnerPayCalculatorTab.tsx
Due: Components

fix: Detect paused subscriptions via pause_collection field
  audacious_money_backend/src/routes/admin.ts
  audacious_money_backend/src/routes/webhooks.ts
Due: none

feat: Hide pause subscription button for post-launch
  src/components/billing/SubscriptionStatusCard.tsx
Due: Components

fix: Preserve exact invoice totals and line amounts in worksheet import
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/services/cpg/worksheetImporter.service.ts
Due: Services, Components

fix: Preserve unit_of_measurement for recipes in worksheet import
  src/services/cpg/worksheetImporter.service.ts
Due: Services

feat: Improve signup flow UX and branding consistency
  src/components/onboarding/BackupLocationSetup.module.css
  src/components/onboarding/BackupLocationSetup.tsx
  src/components/onboarding/ComprehensiveWorksheet.module.css
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/pages/checkout/CheckoutSuccess.module.css
  src/pages/checkout/CheckoutSuccess.tsx
Due: Components

feat: Complete worksheet invoice table improvements
  src/components/onboarding/ComprehensiveWorksheet.module.css
  src/components/onboarding/ComprehensiveWorksheet.tsx
Due: Components

fix: Final signup flow UX polish and math validation
  public/logo.png
  src/components/onboarding/ComprehensiveWorksheet.module.css
  src/components/onboarding/ComprehensiveWorksheet.tsx
  src/pages/checkout/CheckoutSuccess.module.css
  src/pages/checkout/CheckoutSuccess.tsx
Due: Components

feat: Add PromoTracker analytics view and improve validation
  src/components/cpg/PromoDetailsForm.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/PromoTrackerTab.module.css
  src/pages/cpg/tabs/PromoTrackerTab.tsx
  src/utils/validation.ts
Due: Components

feat: Add recipe entry to AddProductModal for one-step product creation
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

feat: Enhance CPG promo analytics and fix critical update bugs
  src/components/cpg/PromoDetailsForm.tsx
  src/components/cpg/modals/AddProductModal.tsx
  src/pages/cpg/SalesPromoDecisionTool.tsx
  src/pages/cpg/tabs/PromoAnalyticsTab.module.css
  src/pages/cpg/tabs/PromoAnalyticsTab.tsx
  src/pages/cpg/tabs/PromoTrackerTab.module.css
  src/pages/cpg/tabs/PromoTrackerTab.tsx
Due: Components

feat: Improve AddProductModal recipe layout and add validation warnings
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

fix: Enable true side-by-side recipe layout in AddProductModal
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

feat: Add labor entry to AddProductModal with inline role creation
  src/components/cpg/modals/AddProductModal.tsx
Due: Components

fix: Show labor costs on product cards even without recipe
  src/components/cpg/FinishedProductManager.tsx
Due: Components

fix: Show labor costs in CPU Tracker even without recipe
  src/components/cpg/CPUDisplay.tsx
Due: Components

feat: Add Event Analytics tab with comprehensive visualizations
  src/pages/cpg/EventsAnalysis.tsx
  src/pages/cpg/tabs/EventAnalyticsTab.module.css
  src/pages/cpg/tabs/EventAnalyticsTab.tsx
  src/pages/cpg/tabs/EventTrackerTab.module.css
  src/pages/cpg/tabs/EventTrackerTab.tsx
Due: none

refactor: Remove Import Worksheet feature from CPU Tracker
  src/pages/cpg/CPUTracker.tsx
Due: none

fix: Calculate CPU for labor-only products in CPU service
  src/services/cpg/cpuCalculator.service.ts
Due: Services

fix: Make load tests environment-aware for production testing
  .github/workflows/load-tests.yml
  LOAD_TEST_FIX_2026-05-03.md
  scripts/run-load-tests.sh
  tests/load/README.md
  tests/load/config/heavy.json
  tests/load/config/light.json
  tests/load/config/medium.json
Due: none

feat: Add personal items support for CPG invoices
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/InvoiceDetailsModal.tsx
  src/db/schema/cpg.schema.ts
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

refactor: Simplify personal item entry to single Amount field
  src/components/cpg/modals/AddInvoiceModal.tsx
Due: Components

fix: Resolve personal items saving issue
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/InvoiceDetailsModal.tsx
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

fix: Use 'personal' sentinel instead of empty string for personal items
  src/components/cpg/modals/AddInvoiceModal.tsx
  src/components/cpg/modals/InvoiceDetailsModal.tsx
  src/services/cpg/cpuCalculator.service.ts
Due: Services, Components

feat: Add one-time Stripe product ID setup endpoint
  audacious_money_backend/src/app.ts
Due: none

fix: Date filter excluding invoices created today
  src/pages/cpg/tabs/RawMaterialsTab.tsx
Due: none

feat: Add handlers for async payment and expired session events
  audacious_money_backend/src/routes/webhooks.ts
Due: none

fix: Show 'Personal' instead of 'Unknown' for personal items
  src/pages/cpg/tabs/RawMaterialsTab.tsx
Due: none

feat: Add admin endpoint for Stripe product ID updates
  audacious_money_backend/src/routes/admin.ts
Due: none

fix: Prevent React error during logout by using full page reload
  src/components/layouts/CPGLayout.tsx
Due: Components

feat: Add 7-day free trial to all new subscriptions
  audacious_money_backend/src/services/stripe.service.ts
Due: none

docs: Add Stripe price ID update scripts for production
  audacious_money_backend/scripts/update-stripe-product-id.ts
  audacious_money_backend/update-cpu-cpg-stripe-ids.sql
Due: none

fix: Smart redirect to prevent 403 on root URL for CPG users
  src/routes/SmartRedirect.tsx
  src/routes/index.tsx
Due: none

chore: Trigger rebuild for SmartRedirect deployment
  src/routes/SmartRedirect.tsx
Due: none

feat: Add Coming Soon overlay for NAYA and Feed Seven Generations
  src/components/charity/CharityCard.module.css
  src/components/charity/CharityCard.tsx
  src/components/charity/CharitySelector.tsx
Due: Components

fix: Make Coming Soon overlay fully opaque
  src/components/charity/CharityCard.module.css
Due: Components
